<%content_for :title, "About | Hallit"%>
<br /><br /><br /><br />

<div class="container font-fam1">

<p class="abt2">In everyone are core values that makes us different from others. These core values are ideas, beliefs or thoughts that guide us and can be shared as a hall to teach, inspire or awaken the interest in others for the creation of a better world. </p>

<br />
<p class="abt2 abt2bold">What is a Hallit?</p>

<p class="abt2">Hallit is a social network that allows you caption your photos so you can share your core values to the world.</p>

</div>
<%= image_tag('bigsean.JPG', :class => "abt1") %>

<p class="wlc3">
<%= link_to "Sign up Now", signup_path, :"data-no-turbolink" => true, :class => "font-fam1 btn btn-primary" %> 
</p>

<p class="abt2 font-fam1">Everybody's Joining!</p>

<br /><br />

