<div class="container font-fam">
<p class="static_head">About Us</p>
<hr />
<div class="jumbotron">
"Hallit is a social network that allows you share your thoughts, ideas, quote(Hall) to people, using your photo as a background to write your quote, thoughts, ideas."	
</div>

</div>

<div class="app_footer"><%= render 'layouts/footer' %></div>