<%content_for :title, "About Us - Hallit"%>
<div class="abtwrap">
<div class="abtimg"><%= image_tag('ph3.jpg', :class => "") %></div>

<div class="container abt font-fam2">
<p class="abt2">To us, we believe creating a better world is first about our values. Sadly its a very noisy and complicated world and so there's need to communicate through the noise and stand out. Hallit is a social network that allows us share our passion, stories and core values to the world in order to differentiate ourselves and help inspire others.</p>
</div>

<% if signed_in? %>
<% else %>
<p class="font-fam2 abtlrn"><%= link_to "Sign up", signup_path, :class => "", "data-turbolinks": "false" %></p>
<% end %>

<br /><br />
<div class="abtfoot"><%= render 'layouts/footer' %></div>


</div>
