<%content_for :title, "About Us | Hallit"%>

<div class="abtimg"><%= image_tag('girls.jpg', :class => "abtimg") %></div>

<div class="container abt font-fam1">
	
<p class="abt2">To us, communication is about values.</p>	
<p class="abt2 abt2b">Sadly it’s a very noisy and complicated world. And so we have to be really clear on what we want people to know about us. Fortunately, we mostly can remember people through their passion or core values because they are what make us different. </p>
<p class="abt2 abt2b">Hallit is a social network that honors people that change the world, living and non-living. It’s an online community where passionate people can share their core values by using their photo as a background to write their values in order to inspire or awaken the interest in others for the creation of a stronger and better world. </p>	

</div>

<% if signed_in? %>
<% else %>
<p class="abtbtn"><%= link_to "SIGN UP", signup_path, "data-turbolinks": "false", :class => "font-fam1 btn btn-primary" %> </p>
<div class="abtfooter"><%= render 'layouts/footer' %></div>
<% end %>