<%content_for :title, "About Us - Hallit"%>
<div class="wrap">
<div class="abtimg"><%= image_tag('ph3.jpg', :class => "") %></div>

<div class="container abt font-fam2">
<p class="abt2">To us, creating a better world is about values. Sadly we live in a very noisy and complicated world and so there's need to communicate through the noise and stand out. Hallit is a social network that wants to create a stronger, safer and better world by allowing us share our passion, stories and core values in order to differentiate ourselves, inspire and awaken the interests in others.</p>
</div>

<% if signed_in? %>
<% else %>
<p class="font-fam2 abtlrn"><%= link_to "Sign up", signup_path, :class => "", "data-turbolinks": "false" %></p>
<% end %>

<br /><br />

<div class="font-fam2 footer abtfoot"><%= render 'layouts/footer' %></div>

</div>
