<%content_for :title, "Careers | Hallit"%>

<div class="container font-fam">

<p class="font-fam app_a_link supportlink">Contact our support service on twitter <a target="_blank" href="https://twitter.com/hallitservice"> @hallitservice</a> to work with us.</p>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div class="app_footer"><%= render 'layouts/footer' %></div>