<div class="dropdown" >

    <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
      <span class="caret"></span>
    </span>
    <ul class="dropdown-menu">
      <li><a href="#">Dropdown link</a></li>
      <li><a href="#">Dropdown link</a></li>
    </ul>

</div>


  <a href="#" data-toggle="dropdown" class="dropdown-toggle">???????</a>
     
     <ul class="dropdown-menu">
       <li><a href="#">Action</a></li>
       <li><a href="#">Another action</a></li>
     </ul>

</div><%= render 'layouts/footer' %></div>