
<div id="contact_us">
	<h1> Contact Us </h1>
	<p>Twitter: @hallitservice</p>
    <p>Tumblr: @hallitservice</p>
    <p>Follow us on our facebook page @hallit</p>
    <p>Email us on hallitservice@gmail.com</p>
</div>

<div id="contact_space"></div>
<div class="app_footer"><%= render 'layouts/footer' %></div>