<%content_for :title, "Support | Hallit"%>
<header class="indexhead">
    <nav class="navbar navbar-default navbar-top" role="navigation">
    <div class="">
    <div class="navbar-header">
           
      <span id="pagename3" class="navbar-brand font-fam3">Contact</span>

    </div>   
    </div><!-- /.container -->
    </nav>
</header>
<br /><br /><br /><br /><br />
<div class="fadein">
<p><%= image_tag('visa.png') %></p>
<p><%= image_tag('supreme.png') %></p>
<p><%= image_tag('ps.png') %></p>
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div class="app_footer"><%= render 'layouts/footer' %></div>