<div class="container font-fam">
<p class="static_head">contact</p>
<hr />
<div class="jumbotron">
Reach us on our mail at hallitservice@gmail.com or phone number 08180259673 for ads or any enquiry
</div>
</div>

<div class="app_footer"><%= render 'layouts/footer' %></div>