<div class="container font-fam">
<p class="static_head">contact</p>
<hr />
<div class="jumbotron">
Reach us on our mail at hallitservice@gmail.com for any contact or enquiry
</div>
</div>

<div class="app_footer"><%= render 'layouts/footer' %></div>