
<div id="container"></div>

<br />

<p class="uploadlink font-fam1 appbutton"><%= link_to "UPLOAD", new_hall_path,  class: "btn btn-primary" %></p>

<br /> <br />

<div><%= render 'layouts/minfooter' %></div>