<header class="indexhead">
    <nav class="navbar navbar-default navbar-top" role="navigation">
    <div class="">
    <div class="navbar-header">
           
      <span class="navbar-brand dropdown-toggle font-fam1" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Learn more</span>
      
      <ul class="nmcptip dropdown-menu" aria-labelledby="dropdownMenu1">
      <li>(A)</li>
      <li>Upload a picture and tap <span class="glyphicon glyphicon-text-size"></span> to write hall</li>
      <li>(B)</li>
      <li>After you write hall, leave a space at the end of your text to avoid part of your text to be cut off.</li>
      <li>(D)</li>
      <li>Tap the check button to finish, followed by the export button to save image on your device. For apple users, you can only save hall by holding image down after export.</li>
      <li>(E)</li>
      Go back to the editor and scroll down. Tap the <span class="glyphicon glyphicon-cloud"></span> to upload your saved hall to the cloud, describe your hall, include an author if hall is a quote from someone. Click hall and you've successfully made your first hall.
      </ul>
      
    </div>   
    </div><!-- /.container -->
    </nav>
</header>
<link rel="stylesheet" href="/css/imglykit-night-ui.css" />
<script src="/js/imglykit.js"></script>
<div id="containerd"></div>  <!--  imgly kit container in micropost new to edit picture before upload -->
<br /><br /><br />
<p>Next</p>
