<header class="indexhead">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="">
    <div class="navbar-header">
           
    <span id="pagename" class="navbar-brand font-fam">
    	   <%= link_to :back, class: "hov", :"data-no-turbolink" => true do %>	
          <span class="headglyph glyphicon glyphicon-menu-left"></span>
          <% end %> 
    </span>
    
    <span id="pagenameee" class="navbar-brand font-fam">Help Center</span>
      
           <ul class="font-fam solve  pull-right">
            
           <li> 
     
           </li>
      </ul>
        </div>   
      </div><!-- /.container -->
    </nav>
</header>  


<div class="container">
<div class="container getstarted">

<hr />
	
<p class="font-fam getstartp">Welcome! To have a better experience using Hallit, tap <span class="glyphicon glyphicon-home"></span> to go to your home and add Hallit to your homescreen </p><br />
<p class="font-fam getstartp gtstbr">Tap browser <span class="glyphicon glyphicon-menu-left"></span> <span class="glyphicon glyphicon-menu-right"></span> to go back and forth when using the app </p>
<p class="font-fam getstartp">tap <span class="glyphicon glyphicon-home"></span> to get to home </p>
<p class="font-fam getstartp">tap <span class="glyphicon glyphicon-heart-empty"></span> to explore halls </p>
<p class="font-fam getstartp">tap <span class="glyphicon glyphicon-camera"></span> to create hall. <%= link_to "learn more", howtomakeahall_path, class: "gtstlearnhall" %> </p>
<p class="font-fam getstartp">tap <span class="glyphicon glyphicon-tent"></span> to view followed activities </p>
<p class="font-fam getstartp">tap <span class="glyphicon glyphicon-search"></span> to find friends or discover users </p>
<p class="font-fam getstartp">tap <img src="/assets/images/ro.png" class="imggtst"/> to find out more </p><br />
<p class="font-fam getstartp">Tapping a users username on a profile page allows you to view information such as; number of halls or followers. </p>
<p class="font-fam getstartp">Tapping on photos will allow you to view them. </p>
<p class="font-fam getstartp">When you find friends or channels you love, tapping on the follow button will allow you to subscribe to them!  </p>

</div>
</div>



<br />
  <% if signed_in? %> 		
   <div class="footer2"><%= render 'layouts/minfooter' %></div>                           
  <% end %>
<br /><br />
<div class="app_footer"><%= render 'layouts/footer' %></div>

