<div class="container">
<div class="container getstarted">
	<br /><br />
<p class="font-fam static_head">Getting Started</p>
<hr />
<p class="font-fam" style="font-size: 12px;">Add Hallit to your homescreen for a better experience</p>
<p class="font-fam" style="font-size: 12px;">Use the browsers back and forward icon to go back and forth when using the app</p>
<p class="font-fam" style="font-size: 12px;">Invite users with their email using envelope icon <span class="glyphicon glyphicon-envelope"></span> (Find this icon in your profile when clicking your profile name)</p>	
<p class="font-fam" style="font-size: 12px;">Search user using eye icon <span class="glyphicon glyphicon-eye-open"></span></p>	
<p class="font-fam" style="font-size: 12px;">Nav to update profile using edit icon <span class="glyphicon glyphicon-edit"></span></p>
<p class="font-fam" style="font-size: 12px;">Logout using off icon <span class="glyphicon glyphicon-off"></span></p>
<p class="font-fam" style="font-size: 12px;">Nav to your home using home icon <span class="glyphicon glyphicon-home"></span> or Hallit logo </p>
<p class="font-fam" style="font-size: 12px;">Nav to view your profile using user icon <span class="glyphicon glyphicon-user"></span></p>	
<p class="font-fam" style="font-size: 12px;">Nav to make and upload hall using the cloud-upload icon <span class="glyphicon glyphicon-cloud-upload"></span></p>
<p class="font-fam" style="font-size: 12px;">Nav to view your subscribed activities using ice-lolly icon <span class="glyphicon glyphicon-ice-lolly"></span></p>
<p class="font-fam" style="font-size: 12px;">Nav to discover more post using the globe icon <span class="glyphicon glyphicon-globe"></span></p>
</div>
</div>

<div class="app_footer"><%= render 'layouts/footer' %></div>

<br /><br /><br /><br />
  <% if signed_in? %> 		
   <div class="footer2"><%= render 'layouts/minfooter' %></div>                           
  <% end %>


