<div class="container">
<div class="container help">
<p class="font-fam static_head">Getting Started</p>
<hr />
<p class="font-fam" style="font-size: 12px;">Type name or click enter in the search field to view users<span class="glyphicon glyphicon-"></span></p>
<p class="font-fam" style="font-size: 12px;">Nav to make hall using pencil <span class="glyphicon glyphicon-pencil"></span></p>
<p class="font-fam" style="font-size: 12px;">Nav to send beta invite using envelope <span class="glyphicon glyphicon-envelope"></span></p>	
<p class="font-fam" style="font-size: 12px;">Nav to update profile using cog <span class="glyphicon glyphicon-cog"></span></p>
<p class="font-fam" style="font-size: 12px;">Logout using off <span class="glyphicon glyphicon-off"></span></p>
<p class="font-fam" style="font-size: 12px;">Nav to your home using home <span class="glyphicon glyphicon-home"></span></p>
<p class="font-fam" style="font-size: 12px;">Nav to view your profile using user <span class="glyphicon glyphicon-user"></span></p>	
<p class="font-fam" style="font-size: 12px;">Nav to upload hall using the cloud-upload <span class="glyphicon glyphicon-cloud-upload"></span></p>
<p class="font-fam" style="font-size: 12px;">Nav to view subscribed activities using thumbs-up <span class="glyphicon glyphicon-thumbs-up"></span></p>
<p class="font-fam" style="font-size: 12px;">Nav to discover using the globe <span class="glyphicon glyphicon-globe"></span></p>
</div>
</div>
<br /><br /><br /><br />
  <% if signed_in? %> 		
   <div class="footer2"><%= render 'layouts/minfooter' %></div>                           
  <% end %>


