<div class="container tut font-fam1">
<p class=" font-fam3 suphead">Hallit Guide</p>

<p class=" tuta">Navigate to the camera or editor then select a photo. Following, use the <%= image_tag('text.jpg', :class => "textimg") %> icon to write your text on the image. </p>
</div>
<div class="supimgdiv"><%= image_tag('gui1.PNG', :class => "tutimg") %></div>	
<br />
<div class="container tut font-fam1">
<p class="font-fam3 tuth2">Edit</p>	
<p class="tuta">Change your font color to white by editing foreground and align your text with the <%= image_tag('align.jpg', :class => "exportimg") %> icon or simply re-position your text by moving the textbox. </p>
<br /><br />

<p class="font-fam3 tuth2">Save</p>	
<p class="tuta">Tap <%= image_tag('export2.png', :class => "exportimg") %> icon to save your hall. Apple users should hold image down to save after export then navigate back. Scroll down and select next. </p> 
<br /><br />

<p class="font-fam3 tuth2">Frequent issues</p>
<p class=" tuta">If you're having trouble scrolling the editor, swipe from the head or base and scroll.</p>	
<p class=" tuta">If you notice your text is truncated, leave a space above text in the textbox as seen above.</p>
<br /><br />

</div>

<ul class="container-fluid font-fam1 foot">
    <li>Hallit <span class="glyphicon glyphicon-copyright-mark copyright"></span> 2017</li> 
</ul>
