<%content_for :title, "Hallit Guide"%>
<p class="font-fam1 nhallhead"><%= link_to "Guide", howtomakeahall_path, class: "nlearnhall", :"data-no-turbolink" => true %></p>


<div class="container getstarted">
  	
  <p class="font-fam1 getstartp">Hi! This guide will make the app more intuitive for you. To effortlessly navigate to the web app from your mobile device, tap <span class="glyphicon glyphicon-home"></span> to enter your home and add to your homescreen.</p>
  <br /><br /><br />
  
  <p class="getcent"><span class="getcentt glyphicon glyphicon-menu-left"> <span class="getcentt glyphicon glyphicon-menu-right"> </p>
  <p class="font-fam getstarth">Browser Icon</p>	
  <p class="font-fam1 getstartp">Tapping on your browser <span class="glyphicon glyphicon-menu-left"></span> <span class="glyphicon glyphicon-menu-right"></span> buttons will enable you go back and forth during a session</p>
  <br /><br /><br /> 	

  <p class="getcent"><span class="getcentt glyphicon glyphicon-cloud"></p>
  <p class="font-fam getstarth">Explore</p>	
  <p class="font-fam1 getstartp">Tapping on the cloud will allow you view halls from anywhere in the world</p>
  <br /><br /><br />
    
  <p class="getcent"><span class="getcentt glyphicon glyphicon-camera"></p>
  <p class="font-fam getstarth">New hall</p>	
  <p class="font-fam1 getstartp">Tapping on the camera will enable you create and share your hall. <%= link_to "Learn how to make hall", howtomakeahall_path, class: "gtstlearnhall" %> </p>
  <br /><br /><br />

  <p class="getcent"><span class="getcentt glyphicon glyphicon-heart-empty"></p>
  <p class="font-fam getstarth">Activity</p>	
  <p class="font-fam1 getstartp">Tap on the heart button to view activities of friends or channels you follow</p>
  <br /><br /><br />
  
  <p class="getcent"><span class="getcentt glyphicon glyphicon-search"></p>
  <p class="font-fam getstarth">Search</p>	
  <p class="font-fam1 getstartp">Tap on the search button to find friends and discover people</p>
  <br /><br /><br />
  
  <p class="getcent"><%= image_tag('av.PNG', :class => "imggtst") %></p>
  <p class="font-fam getstarth">Avatar</p>	
  <p class="font-fam1 getstartp">Tap on your avatar to find links such as; Profile, Settings, Invite, Guide and to signout</p>
  <br /><br />
  
  <p class="font-fam getstarth">Essential</p>
  <p class="font-fam1 getstartp">Tapping on photos will allow you to view them</p>  
  <p class="font-fam1 getstartp">Tapping on usernames on profiles will allow you find information such as; number of halls, following and followers </p>
  <p class="font-fam1 getstartp">When you find friends or channels you love, tap on the follow button to follow</p>
  <p class="font-fam1 getstartp">Thank you for using our guide. If you require any additional information, reach us on twitter @hallitservice or email and we'll be sure to reply you.</p>

</div>
</div>

  <% if signed_in? %> 		
   <div class="footer2"><%= render 'layouts/minfooter' %></div>                           
  <% end %>
<br /><br />

