<% cache 'help' do %>

<div id="help">
	<div id="hlp">
	<h1 id="help_h">Help</h1>
	<hr />
	
	<h2>Navigating through Hallit using the Account button:<span class="helpspa"> You can easily navigate around the app using the Account button. </span></h2> 
	<img src="/assets/images/beta.png", alt="p", id="p_img" />
	
	<h3>Making and Uploading Hall:<span class="helpspa"> Learn how to make a Hall <%= link_to "here", make_hall_path, id: "makehallhlp"%>. After you have learnt and created a Hall, click on upload Hall to post your Hall. </span></h3>
	
	<h4>Finding and Subscribing to Friends or Users:<span class="helpspa"> You can find a friend or user simply by typing only their names(first/lastname or both) in the search bar. If you want to view all users, press enter on the search bar. </span></h4>
	
	
	<h5>Tracking your subscribed activities:<span class="helpspa"> This can be viewed in the activities page. </span></h5>
<p>Tanx everybody. lol, wayyyy up</p>
	</div>
</div>
<br />
<div class="app_footer"><%= render 'layouts/footer' %></div>

<% end %>