<div class="home">
   	<% if signed_in? %>
  
   <%= render 'feeds/feed' %>	
   

   <% else %>
   
   <% end %>
</div>     <div class="pager">
   <span "homepag"></span>
   </div>
   <div class="footer2"><%= render 'layouts/minfooter' %></div>