<%content_for :title, "Hallit"%>
<div class="homeinfinitediv">
<% if flash[:notice] -%>
  <p class='container flash alert alert-info'><%=h flash[:notice] %></p>
<% end -%>	
	
   	<% if signed_in? %>
  
   <%= render 'feeds/feed' %>	

   <% else %>
   
   <% end %>
</div>     

<div class="pager">
<span class="homescroll"><%= will_paginate @feed_items, class: "infinite-scrolling" %></span>
</div>

<div><%= render 'layouts/minfooter' %></div>