<div class="home">
<% if flash[:notice] -%>
  <p class='container kkkkk alert alert-info' id="flashh"><%=h flash[:notice] %></p>
<% end -%>	
	
   	<% if signed_in? %>
  
   <%= render 'feeds/feed' %>	
   

   <% else %>
   
   <% end %>
</div>     <div class="pager">
   <span "homepag"><%= will_paginate @feed_items, inner_window: 1, outer_window: 1 %></span>
   </div>
   <div class="footer2"><%= render 'layouts/minfooter' %></div>