<%content_for :title, "How to Make a Hall"%>
<header class="indexhead">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="">
    <div class="navbar-header">
           
    <span id="pagename" class="navbar-brand font-fam">
    	   <%= link_to :back, class: "hov", :"data-no-turbolink" => true do %>	
          <span class="headglyph glyphicon glyphicon-menu-left"></span>
          <% end %> 
    </span>
      <span id="pagenameee" class="navbar-brand font-fam">How to Make a Hall</span>
           <ul class="font-fam solve  pull-right">
            
          
      </ul>
        </div>   
      </div><!-- /.container -->
    </nav>
</header> 



<br /> <br />

<p class="font-fam htstep">Step 1</p>

<p class="stephoto"><span class="glyphicon glyphicon-camera"></span></p>

<p class="font-fam htsteps">Tap the camera</p>

<br /> <br /><br /> <br /><br /> <br />

<p class="font-fam htstep">Step 2</p>

<p class="stephotoi"><img src="assets/images/step2.png" class=""></span></p>

<p class="font-fam htsteps">Click on New Hall to select image then T to write text</p>

<br /> <br /><br /> <br /><br /> <br />

<p class="font-fam htstep">Step 3</p>

<p class="stephotoi"><img src="assets/images/step3.png" class=""></span></p>

<p class="font-fam htsteps">Align to center with Enter and Spacebar. Ensure to leave space below the text. Tap check when you're done </p>


 <br /> <br /><br /> <br /><br /> <br />

<p class="font-fam htstep">Step 4 </p>

<p class="stephotoi"><img src="assets/images/step4.png" class=""></span></p>

<p class="font-fam htsteps">Click Export to download image to phone/For Safari users, save image manually after clicking export then tap browser back button</p>


<br /> <br /><br /> <br /><br /> <br />

<p class="font-fam htstep">Step 5</p>

<p class="stephotoi"><img src="assets/images/step5.png" class=""></span></p>

<p class="font-fam htsteps">Scroll down and tap <span class="glyphicon glyphicon-cloud"></span> to upload your saved hall, tell us more and write Author if using someone's quote. All done! </p>


