<br /> 
<div class="container">
<p class="font-fam1 ht-head">Steps</p>
<br />	
	
<p class="font-fam htsteps">1) Tap Upload image.</p>

<br />
<p class="font-fam htsteps">2) Tap T to write message.</p>

<br />
<p class="font-fam htsteps">3) Write your text and align properly. Please note that leaving padding at the buttom of the text will avoid your text being cut off by the editor. </p>

<br />
<p class="font-fam htsteps">4) Tap the check button to finish, followed by the export button to save image on your device. For apple users, please note! You can only save image by holding image down after export.</p>

<br />

<p class="font-fam htsteps">5) Tap browser back, scroll down and tap <span class="glyphicon glyphicon-retweet"></span> to upload your saved hall to the cloud, describe your hall, include an author if hall is a quote from someone. Click hall and you've successfully made your first hall. </p>

<br />
</div>

<div class="app_footer"><%= render 'layouts/footer' %></div>


