<%content_for :title, "How to Make a Hall"%>
<header class="indexhead">
    <nav class="navbar navbar-default navbar-top" role="navigation">
    <div class="">
    <div class="navbar-header">
           
    <span id="pagename" class="navbar-brand font-fam">
    	   <%= link_to :back, class: "hov", :"data-no-turbolink" => true do %>	
          <span class="headglyph glyphicon glyphicon-menu-left"></span>
          <% end %> 
    </span>
      <span id="pagenameee" class="navbar-brand font-fam2">How to Make a Hall</span>
           <ul class="font-fam solve  pull-right">
            
          
      </ul>
        </div>   
      </div><!-- /.container -->
    </nav>
</header> 



<br /> 

<p class="font-fam htsteps">Tap camera, then upload a picture</p>
<p class="stephotoi"><%= image_tag('t1.jpg', :class => "stepimg") %></span></p>

<br /> <br />
<p class="font-fam htsteps">Tap on text to write message</p>

<p class="stephotoi"><img src="assets/images/tut/p1.jpg" class="stepimg"></span></p>

<br /> <br /><br /> <br /><br /> 

<p class="font-fam htsteps">Choose Bebas Neue font style, Change font color to white</p>

<p class="stephotoi"><img src="assets/images/tut/p4.jpg" class="stepimg"></span></p>


 <br /> <br /><br /> <br /><br /> 

<p class="font-fam htsteps">Tap red button to save image on device/safari users should save image manually by pressing image down after tap on red button. Then click back</p>

<p class="stephotoi"><img src="assets/images/tut/p3.jpg" class="stepimg"></span></p>


<br /> <br /><br /> <br /><br /> 

<p class="font-fam htsteps">Scroll down and tap <span class="glyphicon glyphicon-cloud"></span> to upload your saved image to the cloud, describe hall, include author if hall quoting someone. Click hall and you're done. </p>

<p class="stephotoi"><img src="assets/images/tut/end.PNG" class="stepimg"></span></p>



