<link rel="stylesheet" href="/css/imglykit-night-ui.css" />
<script src="/js/imglykit.js"></script>
<div id="container"></div> <!-- /.imgkit-div -->
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div class="footer2"><%= render 'layouts/minfooter' %></div>
