<div id="jobs">
	<h1>Jobs</h1>
	<p>Hallit is built on ruby on rails framework. We are currently hiring. email us at hallitservice@gmail.com  </p>
	
</div>
<div id="jobs_space"></div>

<div class="app_footer"><%= render 'layouts/footer' %></div>