    <div id="redwall"> 
    <div id="makehallwall">
    	
   <h1 id="make-hall">How to make Hall</h1>
   <hr />
 	<div id="make_hall">
            <div class=""><p><img src="/assets/images/slide1.png", alt="slides", class="slides" /></p></div><hr />
            <div class=""><p><img src="/assets/images/slide2.png", alt="slides", class="slides" /></p></div><hr />
            <div class=""><p><img src="/assets/images/slide3.png", alt="slides", class="slides" /></p></div><hr />
            <div class=""><p><img src="/assets/images/slide4.png", alt="slides", class="slides" /></p></div><hr />
            <div class=""><p><img src="/assets/images/slide5.png", alt="slides", class="slides" /></p></div>
      
    </div>
    
    </div>
    </div>
    
<br />
<div class="app_footer"><%= render 'layouts/footer' %></div>