<%content_for :title, "Vision | Hallit"%>
<header class="indexhead">
    <nav class="navbar navbar-default navbar-top" role="navigation">
    <div class="">
    <div class="navbar-header">

      
           <ul class="font-fam solve  pull-right">
           	

      </ul>
        </div>   
      </div><!-- /.container -->
    </nav>
</header>

<br />
<p class="misscion">Hallit is a social network where you can share your stories, values, thoughts or ideas by writing messages on your photos to inspire and awaken the interest in others for the creation of a stronger, safer and better world.</p>
<br /><br /><br /><br /><br /><br /><br /><br />
   
<p class="welcomeoption wappbutton">
<%= link_to "Next", signup_path, :"data-no-turbolink" => true, :class => "ckl font-fam btn btn-lg btn-primary" %> 
</p>   
