<div class="container font-fam">
<p class="static_head">Privacy</p>
<hr />
<div class="jumbotron">We agree to not share your photo to any third party.</div>
</div>

<br />

<div class="app_footer"><%= render 'layouts/footer' %></div>