<%content_for :title, "Favorite channels"%>
<header class="indexhead">
    <nav class="navbar navbar-default navbar-top" role="navigation">
    <div class="">
    <div class="navbar-header">
           
      <span id="pagename2" class="navbar-brand font-fam"><i class="jps glyphicon glyphicon-flash"></i> Valued Channels</span>

    </div>   
    </div><!-- /.container -->
    </nav>
</header>

<div class="container divsearch">
<% @users.each do |user| %>

<span class="font-fam">
<div class="userpartialimg"><%= image_tag user.avatar.url(:thumb), class: "img-circle" %></div>
<ul class="ul-userinfo" style="list-style-type:none">
  
  <li class="font-fam"><%= user.bio %></li>
  
</ul>
<hr />
</span>

<% end %>
</div>


<div class="footer2"><%= render 'layouts/minfooter' %></div>
