<%content_for :title, "Support - Hallit"%>

<div class="sup-wrap">
<% if flash[:notice] -%>
<p class='container flash alert alert-info'><%=h flash[:notice] %></p>
<% end -%>
 
<div class="container sup">
	
<div class="supheada">
<p class=" font-fam2 supheadb">Want to talk with someone?</p>
</div>

<div class="suptxta">
<p class="font-fam2 suptxtb">We're here to help you get the most from Hallit. The members of our Hallit Support Community can help answer your question. </p>
<p class="suptxtc font-fam2"> <span class=""><%= link_to "Verification", guide_path, class: "sup1a" %></span> or <span class=""><%= link_to "Password reset or Feedback", guide_path, class: "sup1a" %></span></p> 
</div>

</div>
</div>
.