<%content_for :title, "Support - Hallit"%>

<div class="sup-wrap">
 
  <div class="container sup">
  <p class=" font-fam3 suphead">Welcome To Our Support Center</p>
  <p class="font-fam1 sup2">Halls are ways of communicating our passion, stories and core values with the world inorder to differentiate ourselves and help inspire others. <span class="font-fam1"><%= link_to "Learn Here", guide_path, class: "sup1a" %></span></p>
  </div>
  
  <div class="supimg"><%= image_tag('ph8.jpg', :class => "supimga") %></div>
  
  <br /> <br />

  <div class="container sup supa font-fam1">  
  	
  <%= image_tag('av.PNG', :class => "supimg2") %>
  <p class="sup2">To get to your profile on mobile, tap the Hallit logo when signed in.</p>
  <br /><br />

  <div class="supcirc"><p class="sup2"><span class="glyphicon glyphicon-home supcirchome"></span></p></div>
  <p class="font-fam3 sup1">Homescreen optimization</p>
  <p class="sup2">For quick navigation to Hallit from your homescreen, go to your home then proceed and add to your homescreen. </p>
  <br /><br />
  
  <span class="fa fa-gift supgift"></span>
  <p class="font-fam3 sup1">Core value challenge</p>	
  <p class="sup2">Make a hall then challenge two people on your other social platforms along with a link to your hall and correct hashtag <span class="font-fam3 Hchallenge">#HallitCoreValueChallenge</span> and stand a chance to win a gift card</p> 
  <p class="sup2">E.g I challenge @Dave and @Kendra to #HallitCoreValueChallenge. Here's the link to my hall http://bit.ly/2qAz2EP</p> 
  <br /><br />
  
  <i class="fa fa-twitter sup-twitter"></i>
  <p class="font-fam3 sup1">Learn more about Hallit<span class="fa fa-copyright sup-copyright"></span></p>	
  <p class="font-fam1 sup3">We handle supports on twitter <%= link_to "@hallitservice", "https://twitter.com/hallitservice", class: "font-fam1 sup1a sup1b" %></p>
  <br />
  
</div>
</div>
