<%content_for :title, "Support • Hallit"%>
 <header class="indexhead">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="">
    <div class="navbar-header">
           
    <span id="pagename" class="navbar-brand font-fam">
    	   <%= link_to :back, class: "hov", :"data-no-turbolink" => true do %>	
          <span class="headglyph glyphicon glyphicon-menu-left"></span>
          <% end %> 
    </span>
    
    <span id="pagenameee" class="navbar-brand font-fam">Support</span>
      
           <ul class="font-fam solve  pull-right">
            
           <li> 
     
           </li>
      </ul>
        </div>   
      </div><!-- /.container -->
    </nav>
</header> 

<div class="container font-fam">

<hr />
<p class="font-fam app_a_link supportlink">Find us on twitter <a target="_blank" href="https://twitter.com/hallitservice"> @hallitservice</a> or facebook <a target="_blank" href="https://facebook.com/hallitservice"> @hallitservice</a></p>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div class="app_footer"><%= render 'layouts/footer' %></div>