
<div class="container font-fam">
<h1 class="static_head">Contact and Support</h1>
<hr />
<p class="font-fam app_a_link supportlink">Reach us on our email at hallitservice@gmail.com for any inquiry or contact us on twitter <a target="_blank" href="https://twitter.com/hallitservice"> @hallitservice</a></p>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div class="app_footer"><%= render 'layouts/footer' %></div>