<%content_for :title, "Support | Hallit"%>
<div class="sup-wrap">
<div class="container sup font-fam1">
  <p class="suphead">Welcome to our Support Center</p>
  <p class="sup2">Hallit is a social network that supports sharing of our passion, stories and core values with the world by writing little messages on our photos to help inspire others. <span><%= link_to "Learn how here", guide_path, class: "sup1a" %></span></p>		 
</div> 
  <div class="supimgdiv"><%= image_tag('Supporthero.jpg', :class => "supimg") %></div>
  <br /><br />
<div class="container sup font-fam1">  
	  <p class="sup1">Getting to your Profile or Editor on Mobile</p>  
  <p class="sup2">To get to your profile or camera on a mobile device, tap the Hallit logo when signed in.</p>
  <br />

  <div class="supcirc"><p class="sup2"><span class="glyphicon glyphicon-home sup-icon-size"></span></p></div>
  <p class="sup1">Homescreen Optimization</p>
  <p class="sup2">For a quick navigation to Hallit from your homescreen. Go to your home then proceed to add to your homescreen. Super easy! </p>
  <br /><br />
  
  <p class="sup1">Tap to Learn more about Hallit<span class="fa fa-copyright sup-copyright"></span></p>	
  <p class="sup2">Follow us on <i class="fa fa-twitter sup-twitter"></i><%= link_to "@hallitservice", "https://twitter.com/hallitservice", class: "sup1a sup1b" %>.</p>
  <br /><br />
  
  <p class="font-fam1 sup2">Thank you for  choosing to create a better world.</p>

</div>
</div>

<br /><br />
<% if signed_in? %>
<div><%= render 'layouts/minfooter' %></div>
<% else %> 
<% end %>