<%content_for :title, "Support | Hallit"%>

<div class="container sup">
  	
  <p class="font-fam1 sup1">Welcome to our Beta test! Lets focus on getting things done.</p>
  <br />

  <p class="sup3"><span class="getcentt glyphicon glyphicon-home"></p>
  <p class="font-fam sup2">Homescreen Optimization</p>	
  <p class="font-fam1 sup1">To easily navigate to Hallit from your mobile screen, you'll need to add Hallit to your homescreen. To do this, tap <span class="glyphicon glyphicon-home"></span> to enter your home then proceed to add to your homescreen. Super easy! </p>
  <br /><br />
  
  <p class="font-fam sup2">Profile</p>	
  <p class="font-fam1 sup1">On a mobile device, you can tap the logo to find necessary information such as your profile. </p>
  <br /><br />
  
  <p class="font-fam sup2">Learn more about Halls</p>	
  <p class="font-fam1 sup1">On a mobile device, you can tap the logo to find necessary information such as your profile. </p>
  <br />
  
  <p class="font-fam1 sup1">Thank you for using our guide.</p>

</div>

<br /><br />
<% if signed_in? %>
<div><%= render 'layouts/minfooter' %></div>
<% else %> 
<% end %>