<%content_for :title, "Terms & Privacy | Hallit"%>
<br /><br /><br /><br />

<div class="container priv-wrap">
<p class="priva font-fam2">Confidential Beta Agreement</p><br />

<p class="privb font-fam2">
These Terms apply to any confidential beta operated by Sony Interactive Entertainment Europe Limited of 10 Great Marlborough Street, London, W1F 7LP, UK ("beta"). Your participation in any Beta and use of the beta software is subject to these Terms which form a binding agreement between you and us.
<br /><br />
1. The beta will be conducted in English. The game code, in-game news and updates, and any communication from us will be in English and your feedback must be provided in English.
<br />
2. You must be over 18 years of age and a SEN Master Account Holder to take part in a beta.
<br />
3. You must keep confidential all information relating to the beta software and the beta. You must not discuss the beta with anyone except us and other people taking part in the beta ("Beta Testers"). In particular, you must not discuss the beta with anyone associated with a competing videogame format or publisher, a news or information service (whether television, magazine, newspaper or otherwise) or in any online forum or chat room, other than our official beta forum. Any codes or passwords which give access to beta software or beta forums are personal to you and must not be shared with anyone else.
<br />
4. You must keep the beta software secure and in good condition. You are licensed to use the beta software on a non-exclusive, revocable, non-transferable, limited basis and you must only use it for the beta. You must not copy the beta software, give or sell it to anyone, try to reverse engineer it, nor use it to create derivative works.
<br />
5. At all times during the beta you must act lawfully, with respect towards other Beta Testers. The SEN Terms of Service and User Agreement applies to your participation in the beta (see playstation.com/legal).
<br />
6. From time to time during the beta we may modify the test software and related content and services automatically and without notice. Modifications may cause loss of data or content and loss of function or utility. You hereby authorise us to make all such modifications and agree that, to the extent permitted by applicable law, we are not liable for any loss of data, content, function or utility.
<br />
7. We will use any personal information which you give us when you register or in the course of the beta to operate the beta and for research and analysis, in particular to improve the beta software and our other products and services, and in accordance with the SEN Privacy Policy (see playstation.com/legal). You agree that we may contact you in connection with the beta and to collect your feedback on the beta software.
<br />
8. You agree that your suggestions for improvements, enhancements and other changes to the beta software, and our other products and services, and any material which you provide to us during the beta, will belong to us and may be implemented by us, in whole or in part, without any payment or other compensation to you or anyone else. If your suggestions are not your own original ideas, please do not submit them.
<br />
9. We reserve the right to suspend or cancel any beta or your access to any beta at any time in our absolute discretion. If we believe that you are in breach of any of these Terms or any other relevant terms, we may terminate your participation in any beta and the beta community or suspend or ban your SEN account.
<br />
10. To the extent permitted by applicable law, these Terms shall be construed and interpreted in accordance with the laws of England and the contract between you and us shall be deemed to have been formed and performed in England. We may assign our rights and obligations under these Terms to any of our affiliates and sub-contractors without your consent provided that such assignment does not adversely affect your rights under these Terms.
<br />
11. Sponsored ads will not be able to be removed until the beta period ends.
Confidential Beta Agreement Version 2.1: January 2018.

<p class="privc font-fam5"><i class="fab fa-jenkins"></i> <%= link_to "Proceed", home_path, class: "sup1a", "data-turbolinks": "false" %></p>
</p>

</div>