<div class="container font-fam">
<p class="static_head">Terms</p>
<hr />
<div class="jumbotron">
Once you sign up, you've agreed to our terms.	
	
</div>
</div>
<div class="app_footer"><%= render 'layouts/footer' %></div>
