<div class="fadein">
<p><img src="assets/images/j/11.jpg">Get realtime channel feeds on your homepage</p>
<p><img src="assets/images/j/12.jpg">Easy image editor to use</p>
<p><img src="assets/images/j/13.jpg">Check the leaderboard to view people or channels with the most likes</p>
</div>
