<% provide(:title, "Hallit Verification") %>

<div class="verifyimg"><%= image_tag('desktop2.jpg', :class => "") %></div>

<p class="edthd font-fam3">Request Verification</p>

<div class="container sup supa font-fam1"> 
  <p class="sup2">We approve account types maintained by users in music, acting, fashion, government, politics, religion, journalism, media, sports, business, and other key interest areas. If you believe your account is of public interest and should be verified, <%= link_to "place a request here", verification_request_path, class: "sup1a" %>!</p>
</div>
<br /><br />

<div class="verificationbox">
<p class="smallbt appbutton"><%= link_to "NEXT", home_path, class: "font-fam1 btn btn-primary" %> 
</div>