<%content_for :title, "Vision • Hallit"%>
  <header class="indexhead">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="">
    <div class="navbar-header">
           

    <span id="logo" class="navbar-brand font-fam">HALLIT</span>
      
           <ul class="font-fam solve  pull-right">
            
           <li> 
     
           </li>
      </ul>
        </div>   
      </div><!-- /.container -->
    </nav>
</header> 

<div class="container font-fam">

<hr />


<p class="misscion">Creating a stronger, safer and better world!</p>

<p class="misscion">The world is quite noisey and there's need to communicate through this noise and standout. Therefore, people need to be able to differentiate themselves.</p>

<p class="misscion">In everyone is a core value you want to express to the world, these core value are ideas, ethics, beliefs that guide you and can be delivered as halls and shared to the world to tell who you really are.</p>

<p class="misscion">Hallit is a global community, social network where you can share your values, thoughts, ideas and awaken the interest in others through the means of writing messages on photos for the creation of a stronger, safer and better world.</p>

<p class="misscion"></p>
</div>

<div class="">
<br />
<img class="visioncen" src="assets/images/v3.png">

</div>

<br />

<div class="container-fluid betaprepdiv betaprepemail">
<h1 class="betapreph betaprepalign">Join beta</h1>	

<p></p>
<p></p>
<p class="betaprepp betaprepalign">Free hallit stickers and shirts to be given to early adopters.</p>

<form action="https://herokuapp.us13.list-manage.com/subscribe/post" method="POST">
<input type="hidden" name="u" value="1f9e29504ef71168b10e44621">
<input type="hidden" name="id" value="6d6a92fbe3">
<div id="mergeTable" class="mergeTable">
<br />
<div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
<section class="betaprepalign"><label for="MERGE0">Email Address <span class="req asterisk"></span></label></section>
<div class="field-group">
  <section class="betaprepalign"><input type="email" class="betaprepinput" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value=""></section>
    
</div>

</div>

</div>

<br />
<div class="submit_container clear">
<p class="betaprepsubmit betaprepalign"><input type="submit" class="button" name="submit" value="Subscribe to list"></p>
</div>
</form><br>
<p class="font-fam app_a_link supportlink">Like us on twitter and facebook <a target="_blank" href="https://www.facebook.com/Hallit-663853920409208/?pnref=lhc"> @hallitservice</a></p>

</div>




