<div class="container font-fam">
<p class="static_head">Vision</p>
<hr />
Our dream is to help people communicate with others visually and expressively with the art of using your photo as a background to write captions or quotes on
<img class="dejavu" src="assets/images/h.jpg">
<img class="dejavu" src="assets/images/s.jpg">


</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
<div class="app_footer"><%= render 'layouts/footer' %></div>