  <header class="indexhead">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="">
    <div class="navbar-header">
           

    <span id="pagename" class="navbar-brand font-fam">Vision</span>
      
           <ul class="font-fam solve  pull-right">
            
           <li> 
     
           </li>
      </ul>
        </div>   
      </div><!-- /.container -->
    </nav>
</header> 

<div class="container font-fam">
<p class="static_head">Vision</p>
<hr />
<p class="mission">Hallit is a photo sharing app that allows people or organizations brand themselves through expressing their thoughts, quotes or ideas on their personal photos to promote what they stand for. </p>

<p class="mission">Our dream and vision is to help people communicate visually and expressively with the art of using their photo as a background to write captions, text or quotes on.</p>

<br /><br />
<p class="font-fam" style="color: #CE2424; font-size: 30px;">Random Thoughts or Captions.</p>
<p class="font-fam" style="color: #B77575;">Share personal opinions or statements to express yourself</p>
<img class="dejavu" src="assets/images/h.jpg">
<img class="" src="assets/images/s.jpg">

<p class="font-fam" style="color: #CE2424; font-size: 30px; margin-top: 30px;">Share Quotes on Hallit.</p>
<p class="font-fam" style="color: #B77575;">Give the world good energy and positivity by inspiring the world through Quotes you Hall</p>
<img class="" src="assets/images/tu.jpg">
<p class="font-fam" style="color: #CE2424; font-size: 30px; margin-top: 30px;">Promote Creativity or Lifestyle.</p>
<p class="font-fam" style="color: #B77575;">Promote what you stand for on Hallit; Artist, Engineer, Musician, Entrepreneur. Hallit is for everyone involved in the creative process. </p>
<img class="" src="assets/images/dp.jpg">

<p class="font-fam" style="color: #CE2424; font-size: 30px; margin-top: 30px;">Channels, News, Blogs.</p>
<img class="" src="assets/images/m.jpg">

<p class="font-fam" style="color: #CE2424; font-size: 30px; margin-top: 30px;">Manage Brands.</p>
<span class="font-fam" style="color: #B77575;">Hallit gives a new and exciting way for brands to promote themselves.</span>
<img class="" src="assets/images/yz.jpg">
<img class="" src="assets/images/dt.jpg">




</div>
<br /><br />

<div class="container betaprepdiv betaprepemail">
<h1 class="betapreph">Hallit Beta Launch Notification</h1>	

<p></p>
<p></p>
<p class="betaprepp">Get notified when we launch our beta app.</p>

<form action="http://herokuapp.us13.list-manage.com/subscribe/post" method="POST">
<input type="hidden" name="u" value="1f9e29504ef71168b10e44621">
<input type="hidden" name="id" value="6d6a92fbe3">


<div id="mergeTable" class="mergeTable">


<div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
<label for="MERGE0">Email Address <span class="req asterisk"></span></label>
<div class="field-group">
    <input type="email" class="betaprepinput" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="">
    
    
</div>

</div>





</div>


<br />
<div class="submit_container clear">
<p class="betaprepsubmit"><input type="submit" class="button" name="submit" value="Subscribe to list"></p>
</div>
</form>


</div>



<div class="app_footer"><%= render 'layouts/footer' %></div>