  <header class="indexhead">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="">
    <div class="navbar-header">
           

    <span id="pagename" class="navbar-brand font-fam">Vision</span>
      
           <ul class="font-fam solve  pull-right">
            
           <li> 
     
           </li>
      </ul>
        </div>   
      </div><!-- /.container -->
    </nav>
</header> 

<div class="container font-fam">
<p class="static_head">Vision</p>
<hr />
<p class="mission">Hallit is a photo/location sharing app that helps bring your photos to life by writing thoughts, quotes or ideas on personal photos to promote oneself. </p>

<p class="mission">A hall therefore is the art of using personal photo as a background to write captions, text or quotes.</p>

<br /><br />
<p class="font-fam" style="color: #CE2424; font-size: 30px;">Random Thoughts or Captions.</p>
<p class="mission">Share personal opinions or statements to express yourself</p>
<img class="dejavu" src="assets/images/tpo.jpg">
<img class="" src="assets/images/tgh.jpg">

<p class="visionhdfont">Share Quotes on Hallit.</p>
<p class="mission">Give the world good energy and positivity by inspiring the world through Quotes you Hall</p>
<img class="" src="assets/images/tu.jpg">
<p class="visionhdfont">Promote Creativity and Lifestyle.</p>
<p class="mission">Promote what you enjoying doing or stand for on Hallit; Artist, Engineer, Musician, Entrepreneur. Hallit is for everyone involved in the creative process. </p>
<img class="" src="assets/images/boi.jpg">
<img class="" src="assets/images/vlm.jpg">

<p class="visionhdfont">Media, Channels, News, Blogs e.t.c.</p>
<p class="mission">Promote blogs, media and online content in a new and appealing way to even attract more users</p>
<img class="" src="assets/images/dpf.png">


<p class="visionhdfont">Manage Brands.</p>
<span class="mission">Hallit gives a new and exciting way for brands to promote themselves.</span>

<img class="" src="assets/images/yz.jpg">
<img class="" src="assets/images/ty.jpg">



</div>
<br />
<h2 class="container font-fam" style="color: #CE2424; font-size: 30px;">Some of our great app features.</h2>
<p class="container font-fam" style="color: #B77575; font-size: 14px;">Users would be able to create and upload halls using our image-editor <img class="" src="assets/images/ghy.png"></p>
<br />
<p class="container font-fam vision-smfont" style="color: #B77575; font-size: 14px;">Users would be able to find friends, favourite blogs, favourite channels, brands and follow them using our subscribe button <span class="appbutton"><button class="horrn btn btn-primary btn-danger btn-xs">Subscribe</button></span></p>
<br />

<div class="container-fluid betaprepdiv betaprepemail">
<h1 class="betapreph betaprepalign">Hallit Beta Launch Notification</h1>	

<p></p>
<p></p>
<p class="betaprepp betaprepalign">Get notified when we launch our beta app this June. Free hallit polos and stickers to be given to our early users.</p>

<form action="http://herokuapp.us13.list-manage.com/subscribe/post" method="POST">
<input type="hidden" name="u" value="1f9e29504ef71168b10e44621">
<input type="hidden" name="id" value="6d6a92fbe3">
<div id="mergeTable" class="mergeTable">

<div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
<section class="betaprepalign"><label for="MERGE0">Email Address <span class="req asterisk"></span></label></section>
<div class="field-group">
  <section class="betaprepalign"><input type="email" class="betaprepinput" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value=""></section>
    
</div>

</div>

</div>

<br />
<div class="submit_container clear">
<p class="betaprepsubmit betaprepalign"><input type="submit" class="button" name="submit" value="Subscribe to list"></p>
</div>
</form>
<p class="font-fam app_a_link supportlink">Find us on twitter<a target="_blank" href="https://twitter.com/hallitservice"> @hallitservice</a> and help like our facebook page<a target="_blank" href="https://www.facebook.com/Hallit-663853920409208/?pnref=lhc"> @hallitservice</a></p>

</div>


