<p class="p1">Hallit is a free online social networking service that allows its users upload photos with words or icons on the them which are called "halls" </p>
<p id="p2">Our official beta font is "Bebas Neue"</p>

<div id="wel_p">
	
<div id="well"><img src="/assets/images/phone.png", alt="welcome_phone", id="welcome_phone" /></div>
<div id="welll"><img src="/assets/images/y.png", alt="wel_shot", id="wel_shot" /></div>

<p id="mssg_text">Share your vision, thoughts, ideas, quotes and wisdom with people and friends on Hallit</p>

</div>