<p class="p1">Hallit is a free online social networking service that allows its users upload photos with words and icons on the them which are called "halls" </p>
<p id="p2">Our official beta font is "Bebas Neue"</p>

<div id="wel_p">
	
<div id="well"><img src="/assets/images/phone.png", alt="welcome_phone", id="welcome_phone" /></div>
<div id="welll"><img src="/assets/images/y.png", alt="wel_shot", id="wel_shot" /></div>

<h1 id="learnhall"><%= link_to "( learn how to make a hall )", make_hall_path, {:style => 'color: rgb(224, 24, 24);'}%></h1>

</div>



<p id="mssg_text">Share your thoughts, ideas and quotes through Hallit</p>

