<%content_for :title, "Hallit | Signin or Signup"%>
<body class="question"> 
<br />

<p class="misscion">Share values with the world</p>
<br /><br />
	
<img class="hh" src="assets/images/j/11.jpg" data-toggle="modal" data-target="#11">
<img class="hh" src="assets/images/j/12.jpg" data-toggle="modal" data-target="#12">
<img class="hh" src="assets/images/j/13.jpg" data-toggle="modal" data-target="#13">
<img class="hh" src="assets/images/j/14.jpg" data-toggle="modal" data-target="#14">
<img class="hh" src="assets/images/j/15.jpg" data-toggle="modal" data-target="#15">
<img class="hh" src="assets/images/j/16.jpg" data-toggle="modal" data-target="#16">
<img class="hh" src="assets/images/j/17.jpg" data-toggle="modal" data-target="#17">
<img class="hh" src="assets/images/j/18.jpg" data-toggle="modal" data-target="#18">
<img class="hh" src="assets/images/j/19.jpg" data-toggle="modal" data-target="#19">
<img class="hh" src="assets/images/j/20.jpg" data-toggle="modal" data-target="#20">
<img class="hh" src="assets/images/j/21.jpg" data-toggle="modal" data-target="#21">
<img class="hh" src="assets/images/j/22.jpg" data-toggle="modal" data-target="#22">
<br /><br />

<p class="misscion">Quick Tour</p>
<br />

<p class="welcomeoption wappbutton">
<%= link_to "Sign in", signin_path, :"data-no-turbolink" => true, :class => "ckl font-fam btn btn-sm btn-primary" %> 
<%= link_to "Sign up now", signup_path, :"data-no-turbolink" => true, :class => "ckl font-fam btn btn-sm btn-primary" %>			
</p>
<br />

<div class="app_footer"><%= render 'layouts/footer' %></div>

<div><%= render 'shared/previewhome' %></div>

</body>