<%content_for :title, "Youth | Hallit"%>
<script src="https://s3-us-west-2.amazonaws.com/assistantimgs/react.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/assistantimgs/react-dom.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/assistantimgs/PhotoEditorSDK.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/assistantimgs/PhotoEditorReactUI.min.js"></script>
<link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/assistantimgs/PhotoEditorReactUI.min.css" />

<div id="container"></div>  <!--  imgly kit container in micropost new to edit picture before upload -->

<p>lol3</p>
