<%content_for :title, "Youth | Hallit"%>
<script src="/assets/react.min.js"></script>
<script src="/assets/react-dom.min.js"></script>
<script src="/assets/PhotoEditorSDK.min.js"></script>
<script src="/assets/PhotoEditorReactUI.min.js"></script>
<link rel="stylesheet" href="/assets/PhotoEditorReactUI.min.css" />

<div id="container"></div>  <!--  imgly kit container in micropost new to edit picture before upload -->

<p>lol3</p>
