<%content_for :title, "Youth | Hallit"%>

<link rel="stylesheet" href="/assets/PhotoEditorReactUI9.css" />
<script src="/assets/PhotoEditorSDK9.js"></script>
<script src="/assets/PhotoEditorReactUI9.js"></script>

<div id="container"></div>  <!--  imgly kit container in micropost new to edit picture before upload -->

<p>lol2</p>
