<div>
<% if @feed_items.any? %>

<div class="fed1">
    <%= render partial: 'shared/feed_item', collection: @feed_items %>  
</div>    

<% else %>

<div class="fed2">
   <%= image_tag('hope4.JPG', class: "fed2a") %> 
</div>
    
<div class="fed3 font-fam1 getbutton"><%= link_to "Get Started", support_path, class: "hov btn btn-primary" %></div>

<br /><br />

<% end %>
</div>

<span class="homescroll"><%= will_paginate @feed_items %></span>