<div>
<% if @feed_items.any? %>

<div class="fed1">
    <%= render partial: 'shared/feed_item', collection: @feed_items %>  
</div>    

<% else %>

<div class="fed2">
   <%= image_tag('Rocky.PNG', class: "feed2a") %> 
</div>
    
<div class="fed3 font-fam1">Tap logo to Find Your Profile</div>
<br /><br />

<% end %>
</div>

<span class="homescroll"><%= will_paginate @feed_items %></span>