	<div class="">
	<% if @feed_items.any? %>
<div class="paper">
    <%= render partial: 'shared/feed_item', collection: @feed_items %>  
</div>    
    <% else %>
    <div class="feedwelcomeimg">
  	<%= image_tag asset_path('assets/images/j/h5.jpg'), class: "feedwelcomeimgg" %> 
  	</div>
    
    <div class="nofeed font-fam1"><%= link_to "Search", search_path, class: "feedsearchlink" %> and Follow Channels You Love</div>
    <br /><br />
    <% end %>
</div>
<span class="homepag"><%= will_paginate @feed_items %></span>