	
	<% if @feed_items.any? %>
<div class="paper">
    <%= render partial: 'feeds/feed_item', collection: @feed_items %>
</div>    
    <% else %>
    
    <div class="nofeed">Subscribe To Channels You Love</div>
    
    <% end %>

