	<div class="">
	<% if @feed_items.any? %>
<div class="paper">
    <%= render partial: 'shared/feed_item', collection: @feed_items %>  
</div>    
    <% else %>
    <div class="feedwelcomeimg">
  	<%= image_tag asset_path('assets/images/han3.png') %> 
  	</div>
    
    <div class="nofeed font-fam"><%= link_to "Search", search_path, class: "feedsearchlink" %> and Subscribe To Channels You Love</div>
    
    <% end %>
</div>
<span class="homepag"><%= will_paginate @feed_items %></span>