<% if signed_in? %>
         
  <div id="main">
        <section id="fd"><%= render 'shared/feed' %></section>
  </div>
  
  <div class="app_footer"><%= render 'layouts/footer' %></div>
<% else %>
 
   
<% end %>