   <% if signed_in? %>
   
   <%= render 'shared/feed' %>	
   
   <div class="pager">
   <span "homepag"><%= will_paginate @feed_items %></span>
   </div>
   <% else %>
   
   <% end %>

   <div class="footer2"><%= render 'layouts/minfooter' %></div>