<div class="home">
   	<% if signed_in? %>
  
   <%= render 'feeds/feed' %>	
   

   <% else %>
   
   <% end %>
</div> 
   <span "homepag"><%= will_paginate @feed_items%></span>

   <div class="footer2"><%= render 'layouts/minfooter' %></div>
   
