<p><li class="commentpartial" id=<%= dom_id(comment) %>>

 <%= link_to comment.user.username, comment.user, class: "commentusername hov" %>

 <span class="commentbody">
 <%= comment.body %>  
<% if current_user?(comment.user) %> 
 <%= link_to [comment.micropost, comment], :method => :delete,
                                           :remote => true, 
                                           :class => 'delete_pony hov apptrash' do %>
  <span class="glyphicon glyphicon-trash"></span>             
 <% end %>
 <% end %>
 </span>

</li>
</p>

