<p><li class="commentpartial">

 <%= link_to comment.user.username, comment.user, class: "commentusername" %>

 <span class="commentbody">
 <%= comment.body %>     <%= link_to 'Delete', [comment.micropost, comment],
               :method => :delete %>
 </span>

</li>
</p>

