<%= form_for [@micropost, @micropost.comments.build], remote: true do |f| %>


  <span>
    <%= f.text_area :body, class: "commentform", placeholder: "Leave comment..." %>
  </span>
  <span class="commentformbtn">
    <%= f.submit "comment", class: "btn btn-sm btn-primary" %>
  </span>
<% end %>
