<%= form_for [@micropost, @micropost.comments.build], remote: true do |f| %>

  <span>
    <%= f.text_area :body, class: "font-fam1 commentform", placeholder: "leave comment..." %>
  </span><br />
  <section class="font-fam1 commentformbtn appbutton">
    <%= f.submit "Send", class: "btn-primary" %>
  </section>
<% end %>
