/*

        Creating a sprite from following images:

        app/assets/images/sprites/social-share-button/baidu.png (16x16)
        app/assets/images/sprites/social-share-button/delicious.png (16x16)
        app/assets/images/sprites/social-share-button/douban.png (16x16)
        app/assets/images/sprites/social-share-button/email.png (16x16)
        app/assets/images/sprites/social-share-button/facebook.png (16x16)
        app/assets/images/sprites/social-share-button/flickr.png (16x16)
        app/assets/images/sprites/social-share-button/google_bookmark.png (16x16)
        app/assets/images/sprites/social-share-button/google_plus.png (16x16)
        app/assets/images/sprites/social-share-button/kaixin001.png (16x16)
        app/assets/images/sprites/social-share-button/plurk.png (16x16)
        app/assets/images/sprites/social-share-button/qq.png (16x16)
        app/assets/images/sprites/social-share-button/renren.png (16x16)
        app/assets/images/sprites/social-share-button/tqq.png (16x16)
        app/assets/images/sprites/social-share-button/tumblr.png (16x16)
        app/assets/images/sprites/social-share-button/twitter.png (16x16)
        app/assets/images/sprites/social-share-button/weibo.png (16x16)

        Output files:
          app/assets/images/sprites/social-share-button.png
          app/assets/stylesheets/social-share-button.scss

        Output size:
          64x64


*/
.social-share-button-baidu {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") 0px 0px no-repeat; }

.social-share-button-delicious {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -16px 0px no-repeat; }

.social-share-button-douban {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") 0px -16px no-repeat; }

.social-share-button-email {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -16px -16px no-repeat; }

.social-share-button-facebook {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -32px 0px no-repeat; }

.social-share-button-flickr {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -32px -16px no-repeat; }

.social-share-button-google_bookmark {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") 0px -32px no-repeat; }

.social-share-button-google_plus {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -16px -32px no-repeat; }

.social-share-button-kaixin001 {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -32px -32px no-repeat; }

.social-share-button-plurk {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -48px 0px no-repeat; }

.social-share-button-qq {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -48px -16px no-repeat; }

.social-share-button-renren {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -48px -32px no-repeat; }

.social-share-button-tqq {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") 0px -48px no-repeat; }

.social-share-button-tumblr {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -16px -48px no-repeat; }

.social-share-button-twitter {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -32px -48px no-repeat; }

.social-share-button-weibo {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button.png") -48px -48px no-repeat; }

@media only screen and (-webkit-device-pixel-ratio: 2) {
  .social-share-button-baidu {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") 0px 0px no-repeat;
    background-size: 64px 64px; }

  .social-share-button-delicious {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -16px 0px no-repeat;
    background-size: 64px 64px; }

  .social-share-button-douban {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") 0px -16px no-repeat;
    background-size: 64px 64px; }

  .social-share-button-email {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -16px -16px no-repeat;
    background-size: 64px 64px; }

  .social-share-button-facebook {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -32px 0px no-repeat;
    background-size: 64px 64px; }

  .social-share-button-flickr {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -32px -16px no-repeat;
    background-size: 64px 64px; }

  .social-share-button-google_bookmark {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") 0px -32px no-repeat;
    background-size: 64px 64px; }

  .social-share-button-google_plus {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -16px -32px no-repeat;
    background-size: 64px 64px; }

  .social-share-button-kaixin001 {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -32px -32px no-repeat;
    background-size: 64px 64px; }

  .social-share-button-plurk {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button.png") -48px 0px no-repeat;
    background-size: 64px 64px; }

  .social-share-button-qq {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -48px 16px no-repeat;
    background-size: 64px 64px; }

  .social-share-button-renren {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -48px -32px no-repeat;
    background-size: 64px 64px; }

  .social-share-button-tqq {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") 0px -48 no-repeat;
    background-size: 64px 64px; }

  .social-share-button-tumblr {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -16px -48px no-repeat;
    background-size: 64px 64px; }

  .social-share-button-twitter {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -32px -48px no-repeat;
    background-size: 64px 64px; }

  .social-share-button-weibo {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x.png") -48px -48px no-repeat;
    background-size: 64px 64px; } }
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white !important; }

.modal2 {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7) url("loadd.gif") 50% 50% no-repeat;
  background-size: 20px 20px; }

.turbolinks-progress-bar::before {
  background-color: black !important; }

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
  border-color: #F9F9F9;
  outline: 0 none; }

input:-webkit-autofill, input:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px #F8F8F8 inset; }

.src input[type]:focus {
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6); }

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px; }
  .ui-autocomplete .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap; }

.ui-menu-item {
  font-family: ralewayregular; }

.ui-widget-content .ui-state-focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none; }

.ui-helper-hidden-accessible div {
  display: none; }

.font-fam {
  font-family: ralewayregular; }

.font-fam1 {
  font-family: MyriadPro-Light; }

.font-fam2 {
  font-family: Roboto-Light; }

.font-fam4 {
  font-family: MyriadPro-Light;
  font-size: 100%;
  font-weight: bold; }

.fa {
  font-size: 23px !important;
  color: rgba(247, 60, 70, 0.3); }

.errmsg {
  text-align: center;
  color: #484848; }

.blacklink {
  color: #484848; }
  .blacklink:visited {
    color: #484848;
    background: none; }
  .blacklink:hover {
    color: #484848;
    background: none; }

.blacklink a {
  color: #484848; }
  .blacklink a:visited {
    color: #484848;
    background: none; }
  .blacklink a:hover {
    color: #484848;
    background: none; }

.hov {
  color: black; }
  .hov:visited {
    color: black; }
  .hov:hover {
    background: none;
    color: black; }

.hov2:hover {
  background: none;
  text-decoration: none; }

#pgn1 {
  font-size: 19px;
  color: black;
  margin-left: 15px; }

#pgn2 {
  font-size: 19px;
  color: #484848; }

#pgn3 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6); }

.pager {
  font-size: 100%;
  margin-left: -39px !important;
  clear: both;
  padding-bottom: 20px; }

.pagination li a {
  font-family: MyriadPro-Light;
  color: rgba(247, 60, 70, 0.9); }
  .pagination li a:hover {
    color: rgba(247, 60, 70, 0.9); }

.pagination li > a {
  border: 1px solid white !important; }

.spinner {
  text-align: center; }

.backheadglyph1 {
  font-size: 19px;
  color: black;
  margin-left: -5px;
  margin-top: -1px; }

.backheadglyph2 {
  font-size: 19px;
  color: black; }

.flash {
  margin-top: 50px; }

.btn-primary:focus {
  outline: none; }

.btn:focus {
  outline: none; }

.ldmsg {
  display: none;
  height: 35px;
  width: 35px; }

#scrbar {
  color: black; }

p .src {
  background: rgba(249, 249, 249, 0.2);
  height: 50px;
  width: 100%;
  border-color: rgba(247, 60, 70, 0.3);
  margin-top: 35px;
  border: 1px solid rgba(247, 60, 70, 0.3);
  outline: none;
  color: black;
  text-align: center;
  position: relative; }
  p .src:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #F9F9F9;
    border: 1px solid rgba(247, 60, 70, 0.3); }

.microusrn {
  font-weight: bold;
  color: black;
  font-size: 15px; }
  .microusrn:visited {
    color: black; }

.usravi .img-circle {
  width: 35px;
  border: 1px solid white;
  margin-top: -7px; }

.appbutton .btn-primary {
  font-size: 16px;
  width: 80px;
  font-weight: bold;
  color: #ff5a5f;
  border: 1px solid #ff5a5f;
  border-radius: 64px;
  background-color: white !important; }
  .appbutton .btn-primary:hover {
    background-color: #ff5a5f !important;
    border-color: #ff5a5f !important;
    color: white; }

.inv {
  text-align: center;
  margin-top: 20px; }

.inv1 {
  margin-top: 180px; }

.inv1a {
  width: 90%;
  height: 35px;
  border: 1px solid black;
  background: white;
  font-size: 16px; }

.inv1b {
  margin-top: 100px; }

.ldbt {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  border: 1px solid black;
  color: black; }

#container {
  max-width: 100%;
  height: 650px;
  margin-top: -30px; }

img {
  max-width: 100%;
  height: auto; }

.title2 {
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px; }

input {
  background-color: #fdfdfd;
  border: solid 1px #edeeee;
  border-radius: 3px;
  font-size: 14px;
  width: 200px;
  -webkit-appearance: none; }

label {
  display: block; }

::-webkit-input-placeholder {
  color: black; }

.navbar {
  border-radius: 0px !important;
  height: 50px; }

.navbar-brand {
  position: absolute; }

.navbar-default {
  background: rgba(255, 255, 255, 0.8) !important;
  border-bottom-color: white !important; }

.navbar-header {
  border-radius: 0px; }

.hdimg {
  width: 80px;
  height: 50px; }

.midhdglyph {
  font-size: 23px;
  color: rgba(247, 60, 70, 0.5);
  margin-top: 13px;
  margin-left: 20px; }
  .midhdglyph:hover {
    color: rgba(247, 60, 70, 0.3); }

.navbar-fixed-top .navbar-collapse {
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 18px;
  color: black;
  padding-top: 0; }

.navbar-default .navbar-nav > li > a {
  color: black; }
  .navbar-default .navbar-nav > li > a:visited {
    color: #484848; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #484848; }

.headwrap {
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.8); }

.headflex {
  display: flex; }

.heads {
  height: 50px;
  min-width: 50px; }

.head1 {
  flex-grow: 1; }

.manuspace1 {
  margin-top: 160px; }

.manuspace2 {
  display: none; }

.manuspace3 {
  display: none; }

.manu {
  width: 100%;
  max-width: 758px;
  height: 200px;
  background-image: url("key.jpg");
  background-size: 100%;
  position: relative;
  background-repeat: no-repeat; }

.manu2 {
  font-size: 22px;
  margin-top: -80px;
  text-align: center;
  line-height: 1.42857143;
  color: black; }

.manu3 {
  text-align: center;
  margin-top: 30px;
  list-style: none; }

.manu3 li {
  display: inline; }

.manu3 .btn-primary {
  font-size: 17px;
  width: 70px;
  color: black;
  background-color: rgba(228, 228, 228, 0.6) !important;
  border-color: black !important; }
  .manu3 .btn-primary:hover {
    background-color: rgba(228, 228, 228, 0.9) !important;
    border-color: black !important;
    color: black; }

.manu4 {
  margin-top: 30px;
  list-style: none;
  text-align: center; }

.manu4 li {
  display: inline;
  color: black;
  word-wrap: break-word;
  padding: 5px;
  font-size: 14px; }

.wlcfoot {
  display: none; }

.sup-wrap {
  margin-top: 10px;
  background-color: white;
  width: 100%; }

.sup {
  max-width: 700px;
  margin: 0 auto;
  text-align: center; }

.supimg {
  width: 80%; }

.sup1 {
  font-size: 22px;
  color: black; }

.sup1a {
  color: black;
  text-decoration: underline; }
  .sup1a:visited {
    color: black;
    background: none; }
  .sup1a:hover {
    color: black;
    background: none; }

.sup-icon-size {
  font-size: 70px !important; }

.sup-usericon {
  color: rgba(6, 6, 6, 0.84); }

.sup2 {
  color: black;
  font-size: 16px;
  line-height: 20px; }

.sup2 .glyphicon {
  color: rgba(247, 60, 70, 0.3);
  font-size: 16px; }

.sup-copyright {
  color: black;
  font-size: 13px !important; }

.sup-twitter1 {
  color: rgba(37, 123, 177, 0.93); }

.sup-twitter {
  color: #1da1f2;
  font-size: 17px !important; }

.tpc .img-circle {
  width: 140px; }

.ht-head {
  text-align: center;
  font-size: 20px; }

.htsteps {
  color: black;
  font-size: 15px;
  line-height: 30px; }

.abtimg {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: -10px; }

.abt {
  position: relative;
  margin-top: -410px;
  max-width: 500px; }

.abt2 {
  text-align: center;
  font-size: 14px;
  line-height: 1.42857143;
  color: white; }

.abtbtn {
  margin-top: 20px;
  text-align: center; }

.abtbtn .btn-primary {
  border-color: white;
  border-radius: 64px;
  background-color: rgba(255, 90, 95, 0.5); }
  .abtbtn .btn-primary:active:focus {
    background-color: rgba(255, 90, 95, 0.7);
    border-color: white; }
  .abtbtn .btn-primary:hover {
    border-color: white;
    background-color: rgba(255, 90, 95, 0.7); }

.abtfooter {
  width: 100%;
  position: relative;
  bottom: 0;
  margin-top: 15px; }

.uploadlink {
  text-align: center; }

.uploadlinka {
  color: black; }
  .uploadlinka:visited {
    color: black; }

.tuthead1 {
  text-align: center;
  font-size: 22px;
  line-height: 1.42857143;
  color: black;
  margin-top: 10px; }

.tut {
  margin: 0 auto;
  max-width: 700px;
  text-align: center; }

.tuth2 {
  font-size: 20px;
  font-weight: bold;
  color: rgba(247, 60, 70, 0.4); }

.tuta {
  font-size: 16px; }

.textimg {
  width: 32px;
  height: 30px; }

.exportimg {
  width: 26px;
  height: 22px; }

.userpartialimg .img-circle {
  width: 35px; }

.ulpartial {
  margin-top: -40px;
  margin-left: 5px;
  list-style: none; }

.userpartialname {
  color: black;
  font-weight: bold;
  font-size: 13px; }
  .userpartialname:visited {
    color: black; }
  .userpartialname:hover {
    background: none; }

.topsrcbar {
  margin-top: -50px; }

.topsrcbar1 {
  margin-top: 15px; }

.usrs {
  padding-top: 15px; }

.nmcp {
  text-align: center;
  margin-top: 20px;
  max-width: 700px; }

.nmcp1 {
  margin: auto;
  left: 0;
  right: 0; }

.nmcp1a {
  margin-left: 40px;
  display: none; }

.nmcp1b {
  color: rgba(255, 90, 95, 0.2);
  cursor: pointer;
  font-size: 70px; }
  .nmcp1b:hover {
    color: rgba(255, 90, 95, 0.4); }

.nmcp1ba {
  font-size: 34px; }

.nmcp1c {
  width: 100%;
  height: 120px;
  border: 2px solid #eaeaea;
  border-radius: 40px;
  padding-left: 10px;
  font-size: 25px;
  -webkit-appearance: none; }

.nmcp1d {
  font-size: 22px !important; }

.atv {
  margin-top: 20px; }

.atv1 {
  color: #BBBBBB;
  font-size: 16px;
  text-align: center;
  margin-top: 170px; }

.trackable {
  width: 30%; }

.nwuerror {
  margin-top: 30px; }

.nwu {
  text-align: center;
  margin-top: 30px; }

.nwu1 {
  margin-top: 5px; }

.nwu1a {
  height: 40px;
  width: 100%;
  font-size: 16px;
  border: 1px solid #eaeaea;
  color: #484848;
  padding-left: 10px;
  border-radius: 4px; }

.signsess-word {
  font-size: 16px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center; }

.sess1 {
  margin-top: 80px;
  text-align: center; }

.sess1a1 {
  height: 40px;
  width: 100%;
  font-size: 16px;
  border: 1px solid #eaeaea;
  color: #484848;
  padding-left: 10px;
  border-radius: 4px; }

.sess1b1 {
  color: #484848; }
  .sess1b1:hover {
    background: none;
    color: #484848; }
  .sess1b1:visited {
    color: #484848; }

.blackerror {
  color: #484848;
  list-style: none;
  margin-bottom: 10px; }

.switchup {
  text-align: center;
  font-size: 23px;
  line-height: 1.42857143;
  color: #333;
  margin-top: 170px; }

.homescroll {
  font-size: 100%;
  display: none; }

.fed1 {
  margin-top: 70px; }

.fed2a {
  margin-top: 50px; }

.fed3 {
  text-align: center;
  margin-top: -200px; }

.getbutton .btn-primary {
  font-size: 20px;
  width: 130px;
  border: 1px solid white;
  border-radius: 64px;
  background-color: rgba(255, 90, 95, 0.1); }
  .getbutton .btn-primary:active:focus {
    background-color: rgba(255, 90, 95, 0.2);
    border-color: none; }
  .getbutton .btn-primary:visited {
    color: white; }
  .getbutton .btn-primary:hover {
    background-color: none !important;
    border-color: white !important;
    background-color: rgba(255, 90, 95, 0.2); }

.fd {
  width: 100%;
  margin-top: -5px; }

.fdinfo1 {
  background: white;
  widht: 100%;
  height: 60px; }

.fdinfo1 .img-circle {
  width: 4%;
  margin-top: 3%;
  margin-left: 2%;
  border: 1px solid rgba(0, 0, 0, 0.3); }

.fdusern {
  padding-bottom: 20px;
  color: black;
  font-weight: bold; }
  .fdusern:visited {
    color: black; }

.fdtime {
  font-size: 90%;
  color: rgba(0, 0, 0, 0.6); }

.fdinfo2 {
  display: none; }

.fdimg {
  width: 100%; }

.fdcontent1 {
  background: white;
  font-size: 100%;
  width: 100%;
  font-family: ralewayregular;
  padding-bottom: 10px; }

.fdcontent2 {
  display: none;
  font-family: ralewayregular; }

.fdlikeicon {
  color: rgba(0, 0, 0, 0.4); }

.fdlikeicon .glyphicon-heart {
  color: rgba(0, 0, 0, 0.2);
  font-size: 17px;
  padding-top: 4px; }

.apptrash .glyphicon {
  color: black;
  font-size: 18px;
  margin-left: 20px; }
  .apptrash .glyphicon:visited {
    color: black; }

.mcpshw {
  margin-top: -20px;
  max-width: 500px;
  background: white;
  margin: 0 auto; }

.mcpshw-img .img-responsive {
  width: 500px;
  margin: 0 auto; }

.mcpshw-cnt {
  max-width: 500px;
  font-size: 100%;
  font-family: ralewayregular; }

.hallauthor {
  color: #1381c1;
  font-size: 12px; }

.mcpshw-share {
  margin-top: -28px;
  float: right; }

.mcpshw1 {
  color: #d1cece;
  padding-top: 10px;
  font-size: 15px; }

.mcpshw1a {
  padding: 2px; }

.mcpshw1 .glyphicon {
  color: #d1cece; }

.mcpshw hr {
  margin-top: -1px; }

.mcpshw3-wrap {
  width: 100%;
  max-width: 500px;
  margin: 0 auto; }

.mcpshw3-flex {
  display: flex; }

.mcpshw3a {
  flex-grow: 0.1; }

.mcpshw3b {
  flex-grow: 11.9; }

.commentfrmwrap {
  width: 100%;
  max-width: 450px; }

.comtfmul {
  display: flex; }

.comtfmula {
  flex-grow: 1; }

.commentform {
  width: 100%;
  max-width: 403px;
  margin-top: 10px;
  font-size: 14px;
  -webkit-appearance: none;
  border: none;
  outline: 0;
  background: white; }
  .commentform:focus {
    outline: none;
    background: white; }

.commentformbtn .btn-default {
  margin-top: 4px;
  color: #d1cece;
  font-size: 22px;
  background: none;
  border: none; }
  .commentformbtn .btn-default:active {
    box-shadow: none; }
  .commentformbtn .btn-default:focus {
    outline: none;
    background: none;
    color: #d1cece; }
  .commentformbtn .btn-default:hover {
    background: none;
    color: rgba(209, 206, 206, 0.7); }

.commentformbtn .btn-default:active:focus {
  outline: none;
  color: #d1cece;
  background-color: white;
  border-color: none; }

.commentpartial {
  list-style: none; }

.commentimg .img-circle {
  width: 20px; }

.commentusername {
  color: black;
  font-size: 100%;
  font-weight: bold; }
  .commentusername:visited {
    color: black; }

.commentbody {
  padding-left: 0px;
  font-size: 13px; }

.commenttime {
  font-size: 10px; }

.commentpartial .glyphicon-trash {
  font-size: 10px;
  color: black; }

#likky .btn-default {
  font-size: 25px;
  color: rgba(247, 60, 70, 0.5);
  background: none;
  border: none; }
  #likky .btn-default:focus {
    outline: none; }
  #likky .btn-default:active {
    box-shadow: none; }
  #likky .btn-default:hover {
    color: rgba(247, 60, 70, 0.5); }

#likki .btn-default {
  font-size: 25px;
  color: #d1cece;
  background: none;
  border: none; }
  #likki .btn-default:focus {
    outline: none; }
  #likki .btn-default:active {
    box-shadow: none; }
  #likki .btn-default:hover {
    color: #d1cece; }

.likes {
  color: black;
  font-weight: bold;
  font-size: 30px; }

.ush1 .dropdown {
  cursor: pointer;
  font-weight: bold;
  color: white; }

.ush1 .img-circle {
  width: 30px; }

.caret {
  color: rgba(247, 60, 70, 0.3); }

.ush2 {
  margin-right: 5px; }

.ush2 li {
  list-style: none; }

.ush3 {
  color: black;
  font-size: 22px;
  text-align: center;
  margin-top: -3px; }

.verify {
  width: 10px;
  height: 10px;
  margin-left: -2px; }

.ush4 {
  color: black;
  font-size: 14px;
  text-align: center;
  margin-top: -3px; }

.ush4 a {
  color: #484848; }
  .ush4 a:visited {
    color: #484848;
    background: none; }
  .ush4 a:hover {
    color: #484848;
    background: none; }

.ush5 {
  margin-top: -15px; }

.ush6 {
  margin-top: -20px; }

.outer-micropartial {
  margin-top: 15px; }

.ush7 {
  color: #BBBBBB;
  font-size: 16px;
  text-align: center;
  margin-top: 250px; }

.fbut .fbtn {
  width: 100%;
  height: 25px; }

.fbut .ufbtn {
  width: 100%;
  background-color: black !important;
  border-color: black !important; }
  .fbut .ufbtn:hover {
    color: #fff;
    background-color: black !important;
    border-color: black !important; }

.fappbutton .btn-primary {
  color: black;
  background-color: white !important;
  border-color: black !important; }
  .fappbutton .btn-primary:hover {
    color: black;
    background-color: white !important;
    border-color: black !important; }

.leadercenter {
  border-left: 4px solid #f5f5f5;
  margin-left: 150px;
  margin-top: 70px; }

.leadflag {
  margin-left: 147px;
  margin-bottom: -80px; }
  .leadflag .glyphicon-flag {
    color: rgba(247, 58, 65, 0.9);
    font-size: 40px; }

.leadthumb {
  width: 25px;
  height: 25px; }

.leadname {
  font-family: ralewayregular;
  color: black;
  font-size: 13px; }
  .leadname:visited {
    color: black; }

.leadphoto {
  width: 120px; }

.leadlikes {
  margin-top: 5px;
  font-size: 10px; }

.leaddetail .glyphicon-heart {
  color: #EC585E; }

.micropartialwrap {
  width: 100%; }

.micropartial-con-flex {
  margin: 0 auto;
  max-width: 1100px; }

.micropartial-img {
  float: left;
  width: 32.828282%;
  margin: 0.252525%; }

.outer-micropartial {
  margin-top: -11px; }

.vfy {
  height: 20px;
  width: 20px; }

.edt {
  margin-top: 35px;
  max-width: 500px;
  margin: 0 auto; }

.edt1 {
  width: 100%;
  height: 37px;
  border: 1px solid #eaeaea;
  outline: 0;
  background: white;
  margin-top: 10px;
  font-size: 16px;
  padding-left: 10px;
  border-radius: 15px; }
  .edt1:focus {
    outline: none;
    background: rgba(211, 211, 211, 0.1); }

.edt2 {
  display: none; }

.edt .glyphicon-camera {
  color: rgba(211, 211, 211, 0.7);
  font-size: 35px;
  cursor: pointer;
  margin-left: 20px; }

.edt4 {
  text-align: center;
  margin-top: 30px; }

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-top: 30px; }

.foot {
  text-align: center;
  list-style: none; }

.foot li {
  display: inline;
  color: black;
  word-wrap: break-word;
  padding: 5px;
  font-size: 15px; }

.copyright {
  font-size: 12px; }

.min-wrapper {
  height: 45px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  border-top: 1px solid white; }

.min-container-flex {
  display: flex; }

.mindiv {
  background: rgba(255, 255, 255, 0.8);
  height: 45px;
  min-width: 100px;
  flex-grow: 1; }

.mindiv p {
  margin-top: 10px; }

.mindivhome {
  margin-left: 10px; }

.mindivcam {
  text-align: center; }

.mindivact {
  float: right;
  margin-right: 10px; }

.mindiv a:hover {
  background: none; }

.mindiv .glyphicon {
  color: rgba(247, 60, 70, 0.3);
  font-size: 23px; }
  .mindiv .glyphicon:hover {
    color: rgba(247, 60, 70, 0.1); }

@media screen and (min-width: 320px) {
  .fdinfo1 {
    height: 50px; }

  .fdinfo1 .img-circle {
    width: 7%;
    margin-top: 0.5%;
    margin-left: 3.5%; }

  .fdusern {
    font-size: 100%;
    margin-top: 3%; }

  .fdtime {
    font-size: 90%;
    margin-top: 3.5%; }

  .feedcontent {
    font-size: 85%; }

  .fdlikeicon {
    font-size: 100%; } }
@media screen and (min-width: 375px) {
  .abt {
    margin-top: -460px; }

  .abt2 {
    font-size: 16px; }

  .abtbtn {
    margin-top: 78px; }

  .abtfooter {
    margin-top: 30px; }

  .manu {
    height: 250px; }

  .manu4 {
    display: none; }

  .wlcfoot {
    display: inline; } }
@media screen and (min-width: 414px) {
  .abt {
    margin-top: -515px; }

  .abt2 {
    font-size: 17px; }

  .abtbtn {
    margin-top: 115px; }

  .manu {
    height: 260px; }

  .profiletop .img-circle {
    width: 150px; } }
@media screen and (min-width: 480px) {
  .fdinfo1 {
    display: none; }

  .fdinfo2 {
    width: 450px;
    background: white;
    display: block;
    height: 50px;
    margin: auto;
    left: 0;
    right: 0; }

  .fdinfo2 .img-circle {
    width: 6%;
    margin-top: 0.5%;
    margin-left: 4%; }

  .fdcontent1 {
    display: none; }

  .fdcontent2 {
    width: 450px;
    background: white;
    display: block;
    padding-bottom: 10px;
    margin: auto;
    left: 0;
    right: 0; } }
@media screen and (min-width: 501px) {
  .abtbtn {
    margin-top: 120px; }

  .abt2 {
    font-size: 18px; } }
@media screen and (min-width: 580px) {
  .manuspace1 {
    display: none; }

  .manuspace2 {
    display: block;
    margin-top: 100px; }

  .manu {
    height: 500px;
    position: inherit; }

  .manu2 {
    margin-top: -40px; }

  .manu3 {
    margin-top: -120px; } }
@media screen and (max-width: 758px) {
  .fdimg1 .img-responsive {
    width: 450px;
    margin: auto;
    left: 0;
    right: 0; } }
@media screen and (min-width: 758px) {
  .mindivhome {
    margin-left: 30px; }

  .mindivact {
    margin-right: 30px; }

  .tuth2 {
    font-size: 22px; }

  .tuta {
    font-size: 18px; }

  .abt {
    margin-top: -610px; }

  .abt2b {
    margin-top: 55px; }

  .fdusern {
    font-size: 85%; }

  #likke {
    margin-left: -6px; }

  .navbar-incr {
    height: 59px; }

  .hd-incr {
    width: 85px;
    height: 59px; }

  .outer-micropartial {
    margin-top: 30px; }

  .fed3 {
    margin-top: -450px; }

  .atv1 {
    font-size: 17px; }

  .ush7 {
    font-size: 17px; }

  .getbutton .btn-primary {
    font-size: 25px;
    width: 155px; }

  .fed2 {
    text-align: center;
    margin: auto;
    left: 0;
    right: 0; }

  .fed2a {
    margin-top: -140px; }

  .yawn {
    margin-top: 490px; }

  .misscion {
    line-height: 50px; }

  .nwu {
    height: 360px !important;
    width: 380px !important;
    margin-top: 60px; }

  .sess1 {
    margin-top: 178px;
    height: 250px !important;
    width: 350px !important; }

  .sess1a {
    margin-top: 30px; }

  .fdinfo1 {
    width: 500px;
    margin: auto;
    left: 0;
    right: 0; }

  .fdimg1 .img-responsive {
    width: 500px;
    margin: auto;
    left: 0;
    right: 0; }

  .fdinfo2 {
    width: 500px; }

  .fdcontent2 {
    width: 500px !important; } }
@media screen and (min-width: 992px) {
  .micropartial-img {
    width: 25%;
    margin: 4.144%;
    margin-top: 1.5%; }

  .fdimg1 .img-responsive {
    width: 500px;
    margin: auto;
    left: 0;
    right: 0; }

  .feedcontent {
    width: 500px;
    margin: auto;
    left: 0;
    right: 0; } }
@media screen and (min-width: 1200px) {
  .micropartial-img {
    width: 25%;
    margin: 4.1%;
    margin-top: 1.5%; }

  .fdimg1 .img-responsive {
    width: 500px;
    margin: auto;
    left: 0;
    right: 0; }

  .feedcontent {
    width: 500px;
    margin: auto;
    left: 0;
    right: 0; } }
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *



 */
/* Import the fonts */
@font-face {
  font-family: 'ralewayregular';
  src: url(/assets/raleway-regular1-webfont.eot);
  src: url(/assets/raleway-regular1-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/raleway-regular1-webfont.woff2) format("woff2"), url(/assets/raleway-regular1-webfont.woff) format("woff"), url(/assets/raleway-regular1-webfont.ttf) format("truetype"), url(/assets/raleway-regular1-webfont.svg#ralewayregular) format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'MyriadPro-Light';
  src: url(/assets/MyriadPro-Light.eot);
  src: url(/assets/MyriadPro-Light.eot?#iefix) format("embedded-opentype"), url(/assets/MyriadPro-Light.woff) format("woff"), url(/assets/MyriadPro-Light.ttf) format("truetype"), url(/assets/MyriadPro-Light.svg#MyriadPro-Light) format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto-Light';
  src: url(/assets/Roboto-Light-webfont.eot);
  src: url(/assets/Roboto-Light-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/Roboto-Light-webfont.woff2) format("woff2"), url(/assets/Roboto-Light-webfont.woff) format("woff"), url(/assets/Roboto-Light-webfont.ttf) format("truetype"), url(/assets/Roboto-Light-webfont.svg#Roboto-Light) format("svg");
  font-weight: normal;
  font-style: normal; }
