<%= form_for([@micropost, @micropost.likes.build], remote: true) do |f| %>
 <%= f.hidden_field :micropost_id %>
 <%= f.hidden_field :user_id %>
  <span class="like_glyph">
    <%= button_tag "", type: 'submit', class: "newer btn btn-default glyphicon glyphicon-heart" %>
  </span>
<% end %>

