<%= form_for([@micropost, @micropost.likes.build]) do |f| %>

 <%= f.hidden_field :micropost_id %>
    <%= f.hidden_field :user_id %>
  <p>
    <%= f.submit "like", class: "btn btn-sm btn-primary" %>
  </p>
<% end %>

