<p class="font-fam">
	<%= link_to (image_tag like.user.avatar.url(:mini), class: "img-circle"), like.user %>
	<%= link_to like.user.username, like.user, {:style => 'color: black; font-weight: bold;'} %>
</p>