<% unless current_user?(@user) %>
  <section id="follow_f">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </section>
<% end %>