<span class="font-fam">
<div class="commentimg"><%= image_tag user.avatar.url(:thumb), class: "img-circle" %></div>
<ul class="ul-userinfo" style="list-style-type:none">
 <li>
  <span><%= link_to user.username, user, class: "font-fam2 userpartialname" %></span>
  <% if current_user.admin? && !current_user?(user) %>
  | <%= link_to "delete", user, method: :delete,
  data: { confirm: "You sure?" } %>
  <% end %>
  
  <% if user.verify == true%>
  <img src="/assets/images/verify.png" width="10" height="10" data-toggle="tooltip" data-placement="top" title="Verified Account"/>
  <% else %>
  <% end %>
 </li>
  
  <li class="font-fam"><%= user.name %></li>
 
 </ul>
 

</span>

<hr />
