<span class="font-fam">
<%= image_tag user.avatar.url(:mini), class: "img-circle" %>
<ul class="ul-userinfo" style="list-style-type:none">
 <li>
  <span><%= link_to user.name, user, class: "font-fam userpartialname" %></span>
  <% if current_user.admin? && !current_user?(user) %>
  | <%= link_to "delete", user, method: :delete,
  data: { confirm: "You sure?" } %>
  <% end %>
  
  <% if user.verify == true%>
  <img src="/assets/images/verify.png" width="15" height="15" data-toggle="tooltip" data-placement="top" title="Verified Account"/>
  <% else %>
  <% end %>
 </li>
  
  <li class="font-fam"><%= user.bio %></li>
 
 </ul>
  
</span>

<hr />
