<% provide(:title, 'All users') %>

<div id="alus">
<h1 class="page_name">Users</h1>

<ul class="users">
  <%= render @users %>
</ul>

<p><%= will_paginate %></p>
</div>

<div id="users_spacin"></div>

<div class="app_footer"><%= render 'layouts/footer' %></div>