<% provide(:title, 'All users') %>
<div class="container">
	
<h1 class="title">Users</h1>

<hr />

  <%= render @users %>

</div>

<div class="pager">
   <%= will_paginate @feed_items %>
</div>

<div class="footer2"><%= render 'layouts/minfooter' %></div>