<div class="topsrcbar">
      <div class="usindexsearch">
      <% if signed_in? %> 		
      <%= render 'shared/search' %>                
      <% end %>
      </div>
</div>

<div class="container allusers">
  <%= render @users %>
</div>

<div class="pager">
   <%= will_paginate @users, :page_links => false %>
</div>

<div class="footer2"><%= render 'layouts/minfooter' %></div>