<% provide(:title, @title) %>

  <div class="shofollow">
 
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
<p class="spacin"></p>

<div id="footerx"><%= render 'layouts/footer' %></div>