<% provide(:title, @title) %>

  <div class="shofollow">
 
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
<div class="footer2"><%= render 'layouts/minfooter' %></div>