<% provide(:title, @user.name) %>
<br />

  <div class="shofollow">
 
    <% if @users.any? %>
      <div class="container users">
        <%= render @users %>
      </div>
      <%= will_paginate %>
    <% end %>
  </div>
<div class="footer2"><%= render 'layouts/minfooter' %></div>