<% provide(:title, @user.name) %>
<br />
  <div>
    <% if @users.any? %>
      <div class="container">
        <%= render @users %>
      </div>
        <%= will_paginate %>
    <% end %>
  </div>
<div><%= render 'layouts/minfooter' %></div>