<p><span class="" id=<%= dom_id(trend) %>>

 <span class="commentbodyj">
   <%= link_to [trend.micropost, trend], :method => :delete, :remote => true do %>
             <span class="headglyph glyphicon glyphicon-eye-open"></span>
   <% end %>
 </span>

</span>
</p>

