<div id="11" class="modal fade" role="dialog">
<div class="modal-dialog">
<div class="modal-body">
<br /> <br /><br />
<button type="button" class="close previewx" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="previewx">&times;</span></button>
 <p><%= image_tag('h6.jpg') %></p>
</div> 
</div>
</div>

<div id="12" class="modal fade" role="dialog">
<div class="modal-dialog">
<div class="modal-body">
<br /> <br /><br />
<button type="button" class="close previewx" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="previewx">&times;</span></button>

  <p><img src="assets/images/j/53.jpg"></p>
</div> 
</div>
</div>

<div id="13" class="modal fade" role="dialog">
<div class="modal-dialog">
  <div class="modal-body">
  	<br /> <br /><br />
<button type="button" class="close previewx" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="previewx">&times;</span></button>  	
  <p><img src="assets/images/j/wel.jpg"></p>
  </div> 
</div>
</div>

<div id="14" class="modal fade" role="dialog">
<div class="modal-dialog">
  <div class="modal-body">
  	<br /> <br /><br />
<button type="button" class="close previewx" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="previewx">&times;</span></button> 
  <p><img src="assets/images/j/48.jpg"></p>
  </div> 
</div>
</div>

<div id="15" class="modal fade" role="dialog">
<div class="modal-dialog">
  <div class="modal-body">
  	<br /> <br /><br />
<button type="button" class="close previewx" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="previewx">&times;</span></button>
  <p><img src="assets/images/j/32.jpg"></p>
  </div> 
</div>
</div>

<div id="16" class="modal fade" role="dialog">
<div class="modal-dialog">
  <div class="modal-body">
  	<br /> <br /><br />
<button type="button" class="close previewx" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="previewx">&times;</span></button>  	
  <p><img src="assets/images/j/54.jpg"></p>
  </div> 
</div>
</div>

<div id="17" class="modal fade" role="dialog">
<div class="modal-dialog">
  <div class="modal-body">
  	<br /> <br /><br />
<button type="button" class="close previewx" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="previewx">&times;</span></button>
  <p><img src="assets/images/j/h1.jpg"></p>
  </div> 
</div>
</div>

<div id="18" class="modal fade" role="dialog">
<div class="modal-dialog">
  <div class="modal-body">
  	<br /> <br /><br />
<button type="button" class="close previewx" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="previewx">&times;</span></button>  	
  <p><img src="assets/images/j/69.jpg"></p>
  </div> 
</div>
</div>

<div id="19" class="modal fade" role="dialog">
<div class="modal-dialog">
  <div class="modal-body">
  	<br /> <br /><br />
<button type="button" class="close previewx" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="previewx">&times;</span></button>  	
  <p><img src="assets/images/j/68.jpg"></p>
  </div> 
</div>
</div>

<div id="20" class="modal fade" role="dialog">
<div class="modal-dialog">
  <div class="modal-body">
  	<br /> <br /><br />
<button type="button" class="close previewx" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="previewx">&times;</span></button>  	
  <p><img src="assets/images/j/h7.jpg"></p>
  </div> 
</div>
</div>

<div id="21" class="modal fade" role="dialog">
<div class="modal-dialog">
  <div class="modal-body">
  	<br /> <br /><br />
<button type="button" class="close previewx" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="previewx">&times;</span></button>  	
  <p><img src="assets/images/j/20.PNG"></p>
  </div> 
</div>
</div>

<div id="22" class="modal fade" role="dialog">
<div class="modal-dialog">
  <div class="modal-body">
  	<br /> <br /><br />
<button type="button" class="close previewx" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="previewx">&times;</span></button>  	
  <p><img src="assets/images/j/35.jpg""></p>
  </div> 
</div>
</div>

