<div id="srcbar">

	<%= form_tag users_path, :method => 'get' do %>
	<p>
	<%= text_field_tag :search, params[:search], :class =>"sr", placeholder: "press enter to view users" %>
	</p>
	<% end %>
</div>
