<div id="srcbar">
	<%= form_tag users_path, :method => 'get' do %>
	<p class="font-fam">
	<%= text_field_tag :search, params[:search], :class =>"form-control sr", placeholder: "Find friends and channels you love...", :style => "color: black; text-align:center;" %>
	</p>
	<% end %>
</div>

