<div id="srcbar">
	<%= form_tag(users_path, :method => "get", id: "search-form") do %>
	<p class="font-fam1">
	<%= text_field_tag :search, params[:search], class: "font-fam1 search-query form-control sr", placeholder: "Discover friends or channels you love...", type: "search", data: {autocomplete: users_autocomplete_user_username_path} %>  
	</p>
	<% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $('#search').bind('railsAutocomplete.select', function(event, data){
  $('#search-form').submit()
  });
</script>





