<% @user ||= current_user %>​
  
  
<div class="stats">
  <p class="relationship"> <a href="<%= following_user_path(@user) %>">
    <span class="stat">
      <%= @user.followed_users.count %> subscribed</span>
  </a></p>
  
 <span class="pfl"><hr style="border: 1px solid #2d2d2d" /></span> ​
  
 <p class="relationship"> <a href="<%= followers_user_path(@user) %>">
    <span class="stat"> 
      <%= @user.followers.count %> subscribers</span>
  </a></p>
  
  <span class="pfl"><hr style="border: 1px solid #2d2d2d" /></span> 
  
</div>