<%= form_for @verify do |f| %>
  <p>
    <%= f.label "Verify User?"%> 
    <%= f.check_box :verified %> 
  </p>

  <p> 
   <%= f.submit "confirm", class: "new_butt btn btn-sm btn-primary" %>
  </p>
  
 <% end %>