<div class="micropartialwrap font-fam">
	
<div class="micropartial-con-flex">
	
<%= link_to (image_tag micropost.photo.url(:square), class: "micropartial-img"), micropost, :"data-no-turbolink" => true %>

</div>
