<% @microposts.each do |micropost| %> 
      
      	
        <%= link_to (image_tag micropost.photo.url(:medium)), micropost %>
        
        <% end %>
        
<div class="app_footer"><%= render 'layouts/footer' %></div>