<%content_for :title, "Explore Halls"%>
<header class="indexhead">
    <nav class="navbar navbar-default navbar-top" role="navigation">
    <div class="">
    <div class="navbar-header">
           
    <span id="pagename" class="navbar-brand font-fam2">Discover</span>
      
           <ul class="font-fam solve  pull-right">
           	
       <li> 
          <%= link_to search_path, class: "hov" do %>	
          <span class="headglyph glyphicon glyphicon-search"></span>
          <% end %> 
       </li>
       
      </ul>
        </div>   
      </div><!-- /.container -->
    </nav>
</header>

 <div class="micropostindex"> 
 	
  <% @microposts.each do |micropost| %>
  
  <div class="micropostindex2"> <%= link_to (image_tag micropost.photo.url(:square), class: "img-responsive"), micropost %></div>
  
  <% end %>
  
 </div>

 <div class="container pager">
   <%= will_paginate @microposts, :page_links => false %>
 </div>

 <div class="footer2"><%= render 'layouts/minfooter' %></div>