/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

 */
@import "social-share-button";
@import "PhotoEditorReactUI.min";

/* Import the fonts */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('glyphicons-halflings-regular.eot');
  src: font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       font-url('glyphicons-halflings-regular.woff') format('woff'),
       font-url('glyphicons-halflings-regular.ttf') format('truetype'),
       font-url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
    font-family: 'bebasregular';
    src: font-url('/assets/bebas___1-webfont.eot');
    src: font-url('/assets/bebas___1-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('/assets/bebas___1-webfont.woff2') format('woff2'),
         font-url('/assets/bebas___1-webfont.woff') format('woff'),
         font-url('/assets/bebas___1-webfont.ttf') format('truetype'),
         font-url('/assets/bebas___1-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: font-url('/assets/raleway-regular1-webfont.eot');
    src: font-url('/assets/raleway-regular1-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('/assets/raleway-regular1-webfont.woff2') format('woff2'),
         font-url('/assets/raleway-regular1-webfont.woff') format('woff'),
         font-url('/assets/raleway-regular1-webfont.ttf') format('truetype'),
         font-url('/assets/raleway-regular1-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'MyriadPro-Light';
    src: font-url('/assets/MyriadPro-Light.eot');
    src: font-url('/assets/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
         font-url('/assets/MyriadPro-Light.woff') format('woff'),
         font-url('/assets/MyriadPro-Light.ttf') format('truetype'),
         font-url('/assets/MyriadPro-Light.svg#MyriadPro-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

