// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#cmmb{
  color: white;
}

#comment_time{
  font-size: 12px;
  font-family: Arial;
  color: white;
  
}
