/* application */
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F8F8F8!important;
}

.turbolinks-progress-bar::before {
  background-color: #E8C6C2 !important;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: #E8C6C2;
    outline: 0 none;
}

input:-webkit-autofill, input:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px #F8F8F8 inset;
}

.sr input[type]:focus {
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
}

/* ad_custom */
.carousel_ad{
  float: right;
}

.loll{
  float: left;
}

#carousel {
  width:100px;
  height:100px;    
  margin-top: -70px;
}

#slides {
  overflow:hidden;
  /* fix ie overflow issue */
  position:relative;
  width:100px;
  height:100px;
}

#sliders {
  overflow:hidden;
  /* fix ie overflow issue */
  position:relative;
  width:100px;
  height:100px;
  margin-left: -50px;
}
/* remove the list styles, width : item width * total items */    
#slides ul {
  position:relative;
  left:0;
  top:0;
  list-style:none;
  margin:0;
  padding:0;    
  width:750px;            
}
/* width of the item, in this case I put 250x250x gif */
#slides li {
  width:250px;
  height:250px;    
  float:left;
}
#slides li img {
  padding:5px;
}

#sliders ul {
  position:relative;
  left:0;
  top:0;
  list-style:none;
  margin:0;
  padding:0;    
  width:750px;            
}
/* width of the item, in this case I put 250x250x gif */
#sliders li {
  width:250px;
  height:250px;    
  float:left;
}
#sliders li img {
  padding:5px;
}
/* Styling for prev and next buttons */
#buttons {
  padding:0 0 5px 0;    
  float:right;
}
#buttons a {
  display:block; 
  width:31px; 
  height:32px;
  text-indent:-999em;
  float:left;
  outline:0;
}
a#prev {
  background:url(arrow.gif) 0 -31px no-repeat; 
}
a#prev:hover {
  background:url(arrow.gif) 0 0 no-repeat;
}
a#next {
  background:url(arrow.gif) -32px -31px no-repeat; 
}
a#next:hover {
  background:url(arrow.gif) -32px 0 no-repeat;
}
.clear {clear:both}

/*global*/
.app_a_link a{
  color: #D63636;
&:visited {
  color: #D63636;
  background: none;
 }  
&:hover {
  color: #D63636;
  background: none;
}
  
}

.ckl2{
  color: grey;
&:hover{
  background: none;
  color: grey;
}  
&:visited{
  color: grey;
 } 
}

.btn-primary:focus {
  outline: none;
}

.yield{
  margin-top: 50px;
}

.btn:focus {
  outline: none;
}

.loaderd{
  display: none;
  height: 35px;
  width: 35px;
}

.pleasewait{
  display: none;
}

.font-fam{
  font-family: ralewayregular;
}

.ul-userinfo{
  margin-top: -40px;
  margin-left: 10px;
}

#flashh{
  margin-top: 50px;
}

.hov:hover{
  background: none;
}

.minf a:hover{
  background: none;
}

.apptrash .glyphicon{
  color: white;
  font-size: 18px;
}

/* shared */
p .sr{
  background: white;
  height: 32px;
  border-color: #D63636;
  border: 0px;
  outline: none;
  color: black;
  text-align:center;
}

.microusrn{
  font-family: ralewayregular; 
  font-weight: bold; 
  color: #CE2424; 
  font-size: 100%;
}

.microusrn:visited{
  color: #CE2424;
}

/* invitation */
.invite{
  text-align: center;
  margin-top: 20px;
}

.betainvite{
  text-align: center;
  font-size: 18px;
  padding-top: 20px;
  font-weight: bold;
}

.invite-form{
  padding-top: 20px;
}

.invite-fill{
  width: 90%;
  height: 30px;
}

/* kit */
#container{
  max-width: 100%;
  height: 350px;
  margin-top: -50px;
}

img{
  max-width: 100%;
  height: auto;
}

#pagename{
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.title2{
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px;  
}

input{
  background-color: #fdfdfd;
  border: solid 1px #edeeee;
  border-radius: 3px;
  font-size: 14px;
  width: 200px;
}

label{
  display: block;
}

.appbutton .btn-primary {
    color: #fff;
    background-color: #D4C2C2 !important;
    border-color: #D4C2C2 !important;
    &:hover {
    background-color: #D63636 !important;
    border-color: #D63636 !important;  
    }   
}

::-webkit-input-placeholder{

}

/* header */ 

.navbar-default{
  background: #D63636!important;
  border-color: #D63636!important;
}

.navbar-header{
  width: 100%;
}

#logo{
  font-family: Ariel, serif;
  color: white;
  font-size: 1.2em; 
}

.solve{
  padding-top: 5px;
}

.solve li{
  list-style-type: none;
  display: inline-block;
  padding: 9px;
}

.headglyph{
  font-size: 17px;
  color: white;
}

/* welcome */
IMG.coverphone{
    margin-top: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.welcomeinfo{
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

.welcomeoption{
  text-align: center;
}

.ckl:visited{
  color: white;
}

.wappbutton .btn-primary {
    color: #fff;
    background-color: rgba(0,0,0,.5)!important;
    border-color: #D4C2C2 !important;
    opacity: 0.7;
    &:hover {
    background-color: #D63636 !important;
    border-color: #D63636 !important;  
    }   
}

/* Gettingstarted */
.getstarted{
  background: white;
  height: 500px;
  margin-top: 5px;
}

.getstarted .glyphicon{
  color: rgb(184, 120, 120); 
  font-size: 14px;
} 

/* search */
.static-search{
  color: black;
}

.static-search .glyphicon-star-empty{
  color: gold;
}

.static-search .glyphicon-shopping-cart{
  color: black;
}

.divsearch .img-circle{
  width: 40px;
}

/* vision */
.dejavu{
  float: right;
}

.static_head{
  margin-top: -40px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
  font-family: ralewayregular;
  color: #E8C6C2;
}

#pagenameee{
  font-family: ralewayregular;
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-left: -26px;
}

.visionhdfont{
  font-family: ralewayregular;
  color: #CE2424; 
  font-size: 30px; 
  margin-top: 30px;
}

.mission{
  font-family: ralewayregular;
  font-size: 14px;
  line-height: 1.42857143;
  color: #B77575; 
}

.misscion{
  text-align: center;
  font-family: ralewayregular;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333; 
  
}

.betaprepdiv{
  height: 400px;
  background: #D63636;
}

.visioncen{
  display: block;
  margin-left: auto;
  margin-right: auto  
}

.betaprepalign{
  text-align: center;
}

.betaprepemail{
  color: white;
  font-family: ralewayregular;
}

.betapreph{
  color: white;
  font-family: ralewayregular;
  font-weight: bolder;
}

.betaprepp{
  color: white;
  font-family: ralewayregular;
}

.betaprepinput{
  color: black;
  width: 54%;
  height: 30px;
}

.button{
  color: white;
  font-weight: bold;
  background: #444444;
  border-color: #444444;
  width: 45%;
  height: 40px;
  font-family: ralewayregular;
}

.app_footer{
  margin-top: -80px;
}


/* support */
.supportlink{
  text-align: center;
  font-size: 14px;
}

.supportlink a{
    color: #E8C6C2;
&:visited {
    color: #E8C6C2;
 }   
}

/* userpartial*/
.userpartialname{
  color: black; 
  font-weight: bold; 
  font-size: 13px;
  &:visited{
  color: black;
  }
  &:hover{
   background: none; 
  }
  
}

/* user_index */
.allusers{
  padding-top: 15px;
}

.topsrcbar{
  margin-top: -50px;
}

.usindexsearch{
  margin-top: 15px;
}

/* new_micropost */
.micropostform{
 text-align: center;
 margin-top: 200px;
}

.micropostformcontent{
  margin: auto;
  left: 0;
  right: 0;
}

.formphoto{
 margin-left: 40px;
 display: none;
}

.newhall-input{
 color: #E8C6C2;
 cursor: pointer;
 font-size: 40px;
}

.formcontent{
  width: 100%;
  height: 120px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(218, 212, 212);
  font-size: 13px;
}

.formauthor{
  width: 150px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(218, 212, 212);
  font-size: 13px;
}

/* activity */
.noactivity{
  font-weight: bold;
  color: #BBBBBB;
  text-align: center;
  margin-top: 170px;
}


.glyphicon-bookmark{
  color: #D63636;
  font-size: 20px;
  margin-left: 12px;
}

/* signup */
.signup{
  text-align: center;
}

.signuplabel{
  float: left;
  color: rgb(88, 88, 88);
  font-weight: bold;
  font-size: 13px;
}

.signupfield{
  height: 30px;
  width: 100%;
  font-size: 13px;
}

/* sessions */
.session{
  margin-top: 20px;
  text-align: center;
}

.sessionlabel{
  float: left;
  color: rgb(88, 88, 88);
  font-weight: bold;
  font-size: 15px;
}

.sessionfield{
  height: 40px;
  width: 100%;
  font-size: 13px;
}

.sessionlink{
  font-size: 15px;
}

.ckl3{
  color: #D63636;
&:hover{
  background: none;
  color: #D63636;
}  
&:visited{
  color: #D63636;
 } 
}

/* home */
.pager{
  font-size: 60%;
}

.homepag{
  font-size: 100%;
}

/* feed */ 
.nofeed{
  font-weight: bold;
  color: #BBBBBB;
  text-align: center;
  margin-top: 200px;
}

/* feed_item */
.feedhouse{
  margin-top: 20px;
  width: 100%;
}

.puffin{
  width: 100%;
}

.feediteminfo{
  background: white;
  widht: 100%;
  height: 60px; 
}

.feediteminfo2{
  display: none;
}

.feediteminfo .img-circle{
  width: 4%;
  margin-top: 3%;
  margin-left: 2%;
}

.feedusern{
  padding-bottom: 20px;
  color: #CE2424;
  font-size: 85%;
  font-family: ralewayregular;
  font-weight: bold;
}

.feedusern:visited{
  color: #CE2424;
}


.feedtime{
  font-size: 80%;
  color: grey;
}

.contentlength{
  background: white;
  font-size: 100%;
  width: 100%;
  font-family: ralewayregular;
  padding-bottom: 10px;
}

.contentlength2{
  display: none;
  font-family: ralewayregular;
}

.feedlikeicon{
  color: grey;
}

.feedlikeicon .glyphicon-heart{
  color: rgb(206, 27, 27);
}

/* micropost_show */
.micropostshow{
}

.posttime{
 color: #CE2424;
 font-size: 90%;
 font-family: ralewayregular;
 padding-top: 7px;
 font-weight: bold;
}

.showmicrocontent{
  font-size: 100%;
  font-family: ralewayregular;
}

.showcontentsize{
  font-size: 90%;
}

.postauthor{
  color: red;
  font-size: 12px;
}

.microviews{
  color: #DD7070;
  padding-top: 10px;
  font-size: 100%;
}

.microviews .glyphicon-comment{
  color: #DD7070;
}

.microviews .glyphicon-heart{
  color: #DD7070; 
}

.micropostshow hr{
 margin-top: -1px;
}

.micro_like_form{
  margin-top: -34px;
  float: left;
}

// commentform 
.commentform{
  width: 100%;
  border-radius: 5px;
}

// commentpartial 
.commentpartial{
 list-style: none;  
}

.commentusername{
  color: #CE2424; 
  font-size: 100%;
  &:visited{
  color: #CE2424;  
  }
}

.commentbody{
  padding-left: 0px;
  font-size: 100%;
}

/* commentform */
.commentformbtn .btn-primary{
 font-weight: bold;
 
}

/* likeform */
#likky .btn-default{
  color: #ce1b1b;
  background-color: #F8F8F8;
  border-color: #F8F8F8;

&:focus{
  outline: none;
} 
&:active{
  box-shadow: none;
}
&:hover{
  color: #ce1b1b;
  background-color: #F8F8F8;
  border-color: #F8F8F8;
 }   
}

#likky .glyphicon-heart{
  font-size: 20px;
  margin-top: -2px;
}

#likki .btn-default{
  color: #d1cece;
  background-color: #F8F8F8;
  border-color: #F8F8F8;
&:focus{
  outline: none;
}
&:active{
  box-shadow: none;
}
&:hover{
  color: #d1cece;
  background-color: #F8F8F8;
  border-color: #F8F8F8;    
 }  
}

#likki .glyphicon-heart{
  font-size: 20px;
  margin-top: -2px;

}

/* like_show */
.likes{
  color: black;
  font-weight: bold;
  font-size: 30px;
}

/* users_show */
.nohall{
  font-weight: bold;
  color: #BBBBBB;
  text-align: center;
  margin-top: 40px;
}

.carousel .item img{
  margin: 0 auto;
}

.profile_h .img-circle{
  width: 30px;
}

.profile_h .dropdown{
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.userinfo1{
  color: black;
  font-size: 22px;
  font-family: ralewayregular;
  font-weight: bold;
  text-align: center;
  padding-top: 9px;
}

.userinfo2{
  color: black;
  font-size: 13px;
  font-family: ralewayregular;
  text-align: center;
  margin-top: -3px;
}

.userpost{
  margin-top: -15px;
}

.subscribe-btn{
  margin-top: -20px;
}

/* un/followform */
.sub_but .btn-info{
  width: 70px;
}

.sub_but .btn-danger{
  width: 80px;
}

/* _micropost */
.micropartial{
}

.micropostsquare{
/* not using width: 26% now to shrink on the big screen */
  background: white;  
  float: left;
}

.micropostcount{
  text-align: center;
  font-size: 13px;
  color: #6B6A6A;
}

.micropostcount .glyphicon-heart{
  color: #EC585E;
}

.micropostcount .glyphicon-comment{
  color: #EC585E;
}

/* micropost_index */
.micropostindex2{
  background: white;  
  float: left;
}

/*edituser*/
.editusr{
  margin-top: -15px;
}

.editusr .glyphicon{
  color: #E8C6C2;
}

.editusremail{
  color: #E8C6C2;
}

.editavi{
  display: none;
}

.editavatar{
  color: #E8C6C2;
}

.editusr-input{
 margin-left: 80px;
 font-size: 50px; 
 cursor: pointer;
}

.edit-lab{
  font-size: 13px;
  width: 90%;
  height: 27px; 
  border-top-color: #F8F8F8;
  border-left-color: #F8F8F8;
  border-right-color: #F8F8F8;
  border-bottom-color: #EAEAEA;
  background: #F8F8F8;
}

.edit-lab:focus{
  outline: none;
}

.edit_butt{
  text-align: center;
  margin-top: 60px;
}

/* footer */
.footer{
  width: 100%;
}

.footerul{
  margin-left: -22px;
  margin-top: 150px;
  font-size: 80%;
  list-style: none;
  text-align: center;  
}

.footerul li{
  padding: 5px; 
  display: inline-block;
  text-align: center;  
  word-wrap: break-word;
  font-family: ralewayregular;
}

.footerlnk{
  color: black;
&:visited{
  color: black;
 } 
&:hover{
  color: black;
 }
}

.footdate{
  list-style: none;
  color: black;
}

.minfooter{
    background: #F1EBEB;
    height: 45px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    opacity: 0.7;
}

.minf{
  padding-left: 0;
  padding-right: 13.6%;
}

.ddffs{
  margin-top: -3px;
}

.minfooter .glyphicon{
  color: rgb(184, 120, 120); 
  font-size: 17px;
} 

@media screen and (min-width: 320px) {
/* welcome */
IMG.coverphone{
   display: none;
}
  
.question {
   background-image: url("/assets/images/wall7.JPG");
   background-size: 100% 670px;
   background-repeat: no-repeat; 
} 

.wfooterlnk{
 color: white;
&:hover{
 color: white;
}
 &:visited{
 color: white;
}
}

.footdate{
  color: white;
}

.welcomeinfo{
  color: white;
  margin-top: 250px;
  line-height: normal;
  text-align: center;
}    

.welcomeoption{
  margin-top: 20px;
}
  
.carousel_ad{
  float: right;
  margin-right: -100px;
}

/* header */
#logo{
  font-size: 1.3em;
}
  
.micropostsquare{
  width: 32%;
  margin-left: 3.6px;
  margin-top: 3.5px;
}
 
.micropostcount{
 display: none;
}

.feediteminfo{
  height: 50px; 
}

.feediteminfo .img-circle{
  width: 6%;
  margin-top: 2.5%;
  margin-left: 5%;
}

.feedusern{
  font-size: 100%;
  margin-top: 3%;
}

.feedtime{
  font-size: 90%;
  margin-top: 3.5%;
}

.feedcontent{
  font-size: 85%;
}

.feedlikeicon{
  font-size: 100%;
}

.minf{
  padding-left: 1.7%;
  padding-right: 12.8%;
}

.minfooter .glyphicon{
  padding-top: 10px;
  font-size: 25px;
} 

.pager{
  margin-left: -40px;
}

/* micropost_index */
.micropostindex2{
  width: 32%;
  margin-left: 3.6px;
  margin-top: 3.5px;
  margin-top: 15px;
}

}

@media screen and (max-width: 320px) {  
/* commentform */

}

@media screen and (min-width: 414px) { 
  
#pagename{
  font-size: 18px;
}  
  
/* microshow */
.micropostshow{
  
}

.glyphicon-bookmark{
  font-size: 25px;
}


.profiletop .img-circle{
  width: 150px;
}


.minf{
  padding-left: 1%;
  padding-right: 13.4%;
}

.minfooter .glyphicon{
  padding-top: 10px;
  font-size: 30px;
} 


}


@media screen and (max-width: 480px) {      
/* micropost_show */
.post-img{
 text-align: center;
}

.showmicrocontent{
  margin: auto;
  left: 0px;
  right: 0px;
}


}

@media screen and (min-width: 480px) {
/* feed-item */  
.feediteminfo{
  display: none;
}

.feediteminfo2{
  width: 450px;
  background: white;
  display: block;
  height: 50px;
  margin: auto;
  left: 0;
  right: 0;
}

.feediteminfo2 .img-circle{
  width: 6%;
  margin-top: 2.5%;
  margin-left: 5%;
}     
   
.contentlength{
  display: none;
}
 
.contentlength2{
  width: 450px;
  background: white;
  display: block;
  padding-bottom: 10px;
  margin: auto;
  left: 0;
  right: 0;
}

/* micropost_show */
.micropostshow{

}

.post-img{
  text-align: center;
}

.showmicrocontent{
  width: 550px;
  background: white;
  padding-left: 3px;
  margin: auto;
  left: 0px;
  right: 0px;
  
}
#likky .btn-default{
  background-color: white;
  border-color: white;

&:hover{
  background-color: white;
  border-color: white;
 }   
}

#likky .glyphicon-heart{
    font-size: 16.5px;
    margin-top: -4.5px;
    margin-right: 6px;
}

#likki .btn-default{
  background-color: white;
  border-color: white;
&:hover{
  background-color: white;
  border-color: white;    
 }  
}

#likki .glyphicon-heart {
    font-size: 16.5px;
    margin-top: -4.5px;
    margin-right: 6px;
}

.minf{
  padding-left: 1%;
  padding-right: 17%;
}
  
}

@media screen and (max-width: 758px) {  
 
.puffauto .img-responsive{
  width: 450px;
  margin: auto;
  left: 0;
  right: 0;
}  

}

@media screen and (min-width: 758px) {  
IMG.coverphone{
   display: none;
}
  
.question {
   background-image: url("/assets/images/banner3.jpg");
   background-size: 100% 670px;
   background-repeat: no-repeat; 
}  
 
.welcomeinfo{
  margin-top: 470px;
  color: white;
} 

.wfooterlnk{
  color: white;
}

.wfooterlnk:visited{
  color: white;
}  

.wfooterlnk:hover{
  color: white;
}
       
/* signup */
.signup{
  border-radius: 5px;
  height: 360px!important;
  width: 380px!important;
  background: white;
}  

.signupform{
  padding-top: 20px;
}

.signupfield{
  height: 30px;
  width: 100%;
  font-size: 13px;
}
  
/* session */
.session{
  margin-top: 60px;
  border-radius: 5px;
  height: 250px!important;
  width: 350px!important;
  background: white;
}

.sessionform{
  margin-top: 30px;
}

.sessionlabel{
  font-size: 15px;
}

.sessionfield{
  height: 30px;
  width: 100%;
  font-size: 13px;
}
  
/* feed_item */ 
.feediteminfo{
  width: 500px;
  margin: auto;
  left: 0;
  right: 0;
}
 
.puffauto .img-responsive{
  width: 500px;
  margin: auto;
  left: 0;
  right: 0;
}  

.feediteminfo2{
  width: 500px;
}  
    
.contentlength2{
  width: 500px!important;
 }

.feedcontent{
  width: 500px;
  margin: auto;
  left: 0;
  right: 0;
} 
  
.micropostsquare{
  width: 31%;
  margin-top: 10px;
  margin-left: 10px;
}

.micropostcount{
  display: block;
}

.micropostindex2{
  width: 31%;
  margin-top: 10px;
  margin-left: 12px; 
}

.minf{
  padding-left: 2%;
  padding-right: 17.5%;
}

}
 
@media screen and (min-width: 992px) {    
IMG.coverphone{
   display: none;
}
  
.question {
   background-image: url("/assets/images/banner3.jpg");
   background-size: 100% 670px;
   background-repeat: no-repeat; 
}

.welcomeinfo{
  margin-top: 470px;
  color: white;
}  
 
.puffauto .img-responsive{
  width: 500px;
  margin: auto;
  left: 0;
  right: 0;
}  

.feedcontent{
  width: 500px;
  margin: auto;
  left: 0;
  right: 0;
}  
  
.micropostsquare{
  width: 31%;
  margin-top: 20px;
  margin-left: 20px;
}

.micropostcount{
  display: block;
}

.micropostindex2{
  width: 31%;
  margin-top: 20px;
  margin-left: 20px; 
}

.minf{
  padding-left: 2%;
  padding-right: 18.7%;
}

}

@media screen and (min-width: 1200px) {
IMG.coverphone{
  display: none;
}
  
.question {
  background-image: url("/assets/images/banner3.jpg");
  background-size: 100% 670px;
  background-repeat: no-repeat; 
}

.welcomeinfo{
  margin-top: 470px;
  color: white;
}

.puffauto .img-responsive{
  width: 500px;
  margin: auto;
  left: 0;
  right: 0;
}  

.feedcontent{
  width: 500px;
  margin: auto;
  left: 0;
  right: 0;
}
  
.micropostsquare{
  width: 25%;
  margin-top: 40px;
  margin-left: 62.5px;
}

.micropostcount{
  display: block;
}

.micropostindex2{
  width: 25%;
  margin-top: 40px;
  margin-left: 64.5px; 
}

.minf{
  padding-left: 1.2%;
  padding-right: 20.6%;
}


}

@media screen and (max-width: 1400px) {
/* commentform */
.commentformbtn .btn-primary{
 width: 83.5%; 
 height: 32px;
 margin-left: 46px;
} 

}