// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main{
  height: 7020px;
  width: 52%;
  margin: auto;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 40px;
  border-color: #c20000;
  background: white;
  min-width: 200px; 
  margin-top: 80px;
  
}

#profile_bar{
  height: 326px;
  background: #202629;
  width: 150px;
  float: left;
  margin-left: -48px;
  min-width:  3%;
  position: fixed;
}

#black{
  background: #202629;
  width: 150px;
  height: 100px;
}

#avi{
  margin-left: 20px;
}

#usp{
  margin-top: 10px;

}

.pfl hr{
  height: 1px;
  background: #2d2d2d;
  border: 0px;
  margin-top: -8px; 
}

.vq{
  margin-top: -13px;
  font-weight: bold;
}

#qc{
  color: white;
}




