// import fonts
@font-face {
    font-family: 'ralewayregular';
    src: font-url('/assets/raleway-regular1-webfont.eot');
    src: font-url('/assets/raleway-regular1-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('/assets/raleway-regular1-webfont.woff2') format('woff2'),
         font-url('/assets/raleway-regular1-webfont.woff') format('woff'),
         font-url('/assets/raleway-regular1-webfont.ttf') format('truetype'),
         font-url('/assets/raleway-regular1-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#walld{
  background: #D63636;
}

.font-fam{
  font-family: ralewayregular;
}

.ht-header{
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  color: #B77575;
}

.htstep{
  text-align: center;
  color: #B77575;
  font-size: 30px;
}

.stephoto{
  text-align: center;
  font-size: 70px;
  color: #B77575;
}

.stephotoi{
  text-align: center;
}

.htsteps{
  text-align: center;
  color: #B77575;
  font-size: 25px;
}
