// Place all the styles related to the Likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#likes{
  margin-top: 60px;
  font-size: 38.5px;
  color: white;
  font-family: inherit;
  font-weight: bold;
}

#likel{
  margin-top: 50px;

}

#space-l {
  margin-top: 490px;
}
