

#pm{
  float: left;
  padding-bottom: 30px;
  padding-right: 1px; 
  margin-top: 20px;
  margin-left: 30px;
  
}

#inner{
  height: 200px;
  width: 200px;
  background: white;
  padding-left: 30px; 
}

#newform{
  text-align: center;
  margin-top: 80px;
}

#pcnl{
  color: grey;
  font-size: 13px;
  font-weight: bold
}

#space-mn{
  margin-top: 230px;
}


