// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#sess_box{
  margin-top: 200px;
  margin: auto;
  height: 320px;
  width: 370px;
  padding-top: 20px;
  border-radius: 5px;
  background: #0A0A0A;
}

#sess_center{
  text-align: center;
  color: white;
}

#sess_in{
  margin-top: 50px;
  padding-bottom: 20px;
}

#sess_signup{
  color: white;
}

#sess_spc{
  margin-top: 300px;
}

#sess_error{
  text-align: center;
  color: rgb(168, 12, 12);
}
