// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#sess_box{
  margin: auto;
  height: 320px;
  width: 300px;
  background: #0A0A0A;
  text-align: center;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#sess_in{
  padding-top: 40px;
  padding-bottom: 30px;
}

#sess_signup{
  color: white;
}

#sess_spc{
  margin-top: 300px;
}
