

#you{
 margin-right: 50px;
 margin-top: 10px;
}

#gg{
  margin-right: 30px;
  margin-top: 80px;
}

#gg img{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}


#content hr{
  height: 20px;
  background: #810000;
  border: 0px;
  margin-left: -25px;
}

.ar{
  margin-top: 20px;
  width: 300px;
  height: 150px;
  
}

#srcbar{
  margin-top: -15px;
}

.sr{
   width: 180px;
  
}


.srt{
  height: 30px;
  margin-top: 5px;
}


.timestamp{
  font-family: Helvetica;
  font-size: 11px;
  font-weight: bold;
  float: right;
  color: grey;
  margin-top: -33px;
  margin-right: 21px;
}

#submitbt{
  margin-top: -10px;
  
}

#submitbt .btn-primary{
  background: #c20000;
  font-weight: bold;
}

#ff{
  margin-top: 10px;
}

.relationship{
  margin-top: 10px;
  color: white;
  margin-top: -30px;
  font-weight: bold;
}

.stat{
  margin-top: 10px;
  color: white;
  font-weight: bold;
}


#mf{
  margin-top: -40px;
}

#fcl{
  float: right;
  margin-right: 20px;
  font-size: 12px;
  font-weight: bold;
  color: darkred;
  font-family: Helvetica;
}

#no-photo input{
  color: black;
  margin-left: 170px;
}





