
#he{
  color: red;
  font-weight: bold;
}

#you{
 margin-right: 50px;
 margin-top: 20px;
}

#gg{
  margin: auto;
  margin-top: 0px;
}


#content hr{
  height: 20px;
  background: #810000;
  border: 0px;
  margin-left: -25px;
}

.ar{
  margin-top: 20px;
  width: 135px;
  height: 50px;
}

.sr{
   width: 180px;
}


.srt{
  height: 30px;
  margin-top: 5px;
}


.timestamp{
  font-family: Helvetica;
  font-size: 10px;
  font-weight: bold;
  float: right;
  color: darkred;
  margin-top: -30px;
}

#submitbt{
  margin-top: -10px;
  
}

#submitbt .btn-primary{
  background: #c20000;
  font-weight: bold;
}

#ff{
  margin-top: 10px;
}

.relationship{
  margin-top: 10px;
  color: white;
  margin-top: -30px;
  font-weight: bold;
}

.stat{
  margin-top: 10px;
  color: white;
  font-weight: bold;
}


#mf{
  margin-top: -40px;
}

#fcl{
  float: right;
  margin-right: 20px;
  font-weight: bold;
  color: grey;
  font-family: Helvetica;
}

