// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  


#contact_us{
  margin-top: 60px;
}

#contact_us h1{
  color: white;
}

#contact_us p{
  margin-top: 30px;
  color: grey;
}

#contact_space{
  margin-top: 340px;
}

#jobs{
  margin-top: 60px;
  color: white;
}

#jobs p{
  margin-top: 30px;
}

#jobs_space{
  margin-top: 500px;
}

#help{
  height: 770px;
  width: 600px;
  background: white;
  margin: auto;
  margin-top: 60px;
  border-radius: 5px;
}

#hlp{
  margin-left: 10px;
}

#help_h{
  color: black;
  padding-top: 20px;
  text-align: center; 
}

#help h2{
  padding-top: 15px;
  font-size: 12px;
  color: darkred;
}

#p_img{
  height: 260px;
  width: 500px;
}

.helpspa{
  font-size: 12px;
  font-weight: normal;
  color: black;
}

#help h3{
  font-size: 12px;
  padding-top: 30px;
  color: darkred;
}

#help h4{
  font-size: 12px;
  padding-top: 20px;
  color: darkred;
}

#help h5{
  font-size: 12px;
  padding-top: 20px;
  color: darkred;
}



