// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile_bar{
  height: 250px;
  margin-top: -19px;
  background: white;
 
}

#black{
  margin-top: 60px;
  text-align: center;
}

#infos{
  text-align: center;
  color: grey;
  font-weight: bold;
}

#main2{
  margin-top: -10px;
  height: 1920px;
  width: 850px;
  background: darkred;
  margin-left: auto ;
  margin-right: auto ;
}

#alus{
  height: 500px;
  margin-top: 60px;
}

#allu{
  list-style-type: none;
}

#edit{
  height: 600px;
}

#xbx{
  margin-top: -20px;
}

#xbx li{
  display: inline;
  padding: 108px;
  font-weight: bold;
  font-size: 13px;
}

#xbx li a:visited {
  color: grey; 
}

#xbx li a:link {
  color: grey; 
}

#xbx li a:hover {
  color: grey;
}

#edit{
  margin-top: 60px;
}

#edsv{
  margin-top: 12px;
  margin-left: 161px;
}

#edsv .btn-primary{
  background: red;
}

#edsv .btn-primary:focus{
  outline: none;
  }
  
#edsv .btn-primary:hover{
  background-color: darkred;
  }  

.row{
  margin-top: 25px;
}

