#profile_bar{
  height: 250px;
  margin-top: -19px;
  background: white;
 
}

#black{
  margin-top: 60px;
  text-align: center;
}

#infos{
  text-align: center;
  color: black;
  font-weight: bold;
}

#main2{
  margin-top: -10px;
  height: 1920px;
  width: 850px;
  background: darkred;
  margin-left: auto ;
  margin-right: auto ;
}

#alus{
  height: 500px;
  margin-top: 60px;
}

#allu{
  list-style-type: none;
}

#users_spacin{
  height: 40px;
}

#edit{
  height: 600px;
}

#xbx{
  margin-top: -10px;
}

#xbx li{
  display: inline;
  padding: 108px;
  font-weight: bold;
  font-size: 13px;
}

#xbx li a:visited {
  color: black; 
}

#xbx li a:link {
  color: black; 
}

#xbx li a:hover {
  color: black;
}

#update_box{
  height: 610px;
  width: 300px;
  background: #0A0A0A;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#update{
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 30px;
}

#update_spc{
  margin-top: 20px;
}

#updatavi{
  padding-left: 39px;
}

.shofollow{
  margin-top: 60px;
}

#signup_box{
  height: 546px;
  width: 300px;
  margin: auto;
  margin-top: -20px;
  text-align: center;
  background: #0A0A0A;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#signupavi{
  padding-left: 39px;
}

#sign_up{
  color: white;
  padding-bottom: 40px;
  padding-top: 30px;
}

#signup_spc{
  margin-top: 70px;
}
