<h1 class="page_name">Activities</h1>


<% @activities.each do |activity| %>
   <div class="activity"> 
   	<span id="acti_user"><%= link_to activity.owner.username, activity.owner if activity.owner %></span>
   	<%= render_activity activity %> 
   	</div><br />
<% end %>

<p class="spacin"></p>
<div class="app_footer"><%= render 'layouts/footer' %></div>