<%content_for :title, "Activities"%>

<div class="font-fam1 activity container">

<% if @activities.any? %>
<% @activities.each do |activity| %>

 <div>
   	<%= render_activity activity %>
   	    
 </div>	
 
 
 <% end %>

	<div class="pager"><i><%= will_paginate @activities, :page_links => false %></i></div>
<br /><br />
 <% else %>
    
    <div class="noactivity">
     <p class="font-fam1">No Activity Yet!</p>
     <p class="font-fam1">Follow a Channel To Get Activities</p>
    </div>

 <% end %></div>

<div class="footer2"><%= render 'layouts/minfooter' %></div>