<div class="container">
	
<h1 class="title">Activities</h1>

<hr />

<% @activities.each do |activity| %>

 <div>
   	<%= link_to activity.owner.username, activity.owner if activity.owner %>
   	<%= render_activity activity %>    
 </div>	
 
 <br />
 
 <% end %>

</div>

<br /> <br /> <br /> <br /><br /><br />

<div class="footer2"><%= render 'layouts/minfooter' %></div>