<ul class="container-fluid font-fam1 foot">
    <li><%= link_to "About us", about_path, class: "hov" %></li>	
    <li><span class="glyphicon glyphicon-copyright-mark copyright"></span> 2017</li> 
</ul>