<ul class="container-fluid font-fam1 foot">
    <li><%= link_to "About Hallit", about_us_path, class: "hov" %></li>	
    <li><%= link_to "Terms", '#', class: "hov" %></li>	
    <li><%= link_to "Q&A", report_path, class: "hov" %></li>	
    <li><%= link_to "Support", support_path, class: "hov" %></li> 
    <li><span class="glyphicon glyphicon-copyright-mark copyright"></span> 2018</li> 
</ul>