<ul class="container-fluid font-fam1 foot">
    <li><%= link_to "About Us", about_path, class: "hov" %></li>	
    <li><%= link_to "Terms", terms_path, class: "hov" %></li>	
    <li><%= link_to "Privacy", privacy_path, class: "hov" %></li> 
    <li><span class="glyphicon glyphicon-copyright-mark copyright"></span> 2017</li> 
</ul>