<p class="foot">
    <ul class="font-fam1 foot1">
      <li><%= link_to "About Us", about_path, class: "hov foot1a" %></li>	
      <li><%= link_to "Terms", terms_path, class: "hov foot1a" %></li>	
      <li><%= link_to "Privacy", contact_path, class: "hov foot1a" %></li> 
      <li class="footdate font-fam1"><span class="glyphicon glyphicon-copyright-mark copyright"></span> 2017 Hallit</li> 
    </ul>
</p>