<p class="footer">
    <ul class="footerul font-fam1">
      <li><%= link_to "About Us", about_path, class: "hov footerlnk" %></li>	
      <li><%= link_to "Youth", youth_path, class: "hov footerlnk" %></li>	 
      <li><%= link_to "Contact", contact_path, class: "hov footerlnk" %></li> 
      <li><%= link_to "Terms", terms_path, class: "hov footerlnk" %></li>	 
      <li class="footdate font-fam1"><span class="glyphicon glyphicon-copyright-mark copyright"></span> 2016 Hallit</li>

    </ul>
</p>