<p class="font-fam footer">
	
    <ul class="footerul">
      <li><%= link_to "Vision", vision_path, class: "hov footerlnk" %></li>	
      <li><%= link_to "Getting Started", getting_started_path, class: "hov footerlnk" %></li>
      <li><%= link_to "Support", support_path, class: "hov footerlnk" %></li> 
      <li class="footdate">2016 Hallit</li> 
    </ul>

</p>