<div class="min-wrapper">
  <div class="min-container-flex">
   		
       <div class="mindiv">
        <p class="mindivhome"><a href="/home"><i class="fab fa-fort-awesome"></i></a></p>
       </div>
       
       <div class="mindiv">
       	<p class="mindivcam"><a href="/halls" data-turbolinks="false"><i class="fas fa-subway"></i></a></p>
       </div> 
         
       <div class="mindiv">
       	<p class="mindivact"><a href="/activities"><i class="fab fa-gratipay" ></i></a></p>
       </div>      

  </div>  	
</div>







