<div class="minfooter">
  <p class="ddffs">
   		
       <span class="minf">
        <a href="/home"><i class="glyphicon glyphicon-home"></i></a>
       </span>
         
       <span class="minf">
       	<a href="/microposts"><i class="glyphicon glyphicon-search"></i></a>
       </span>      
      
	   <span class="minf">
       	<a href="/activities"><i class="glyphicon glyphicon-heart"></i></a>
       </span> 

  </p>  	
</div>







