<div class="min">
  <p class="min1">
   		
       <span class="min1a">
        <a href="/home"><i class="glyphicon glyphicon-home"></i></a>
       </span>
       
       <span class="min1a">
       	<a href="/createhall" data-turbolinks="false"><i class="fa fa-camera-retro"></i></a>
       </span> 
         
       <span class="min1a">
       	<a href="/activities"><i class="fa fa-heart-o" ></i></a>
       </span>      

  </p>  	
</div>







