<div class="minfooter">
   	
       <span class="minf">
       <a href="/home"><i class="glyphicon glyphicon-home"></i></a>
       </span>

       <span class="minf">
       <%= link_to search_path, class: "hov", :"data-no-turbolink" => true do %>	
        <span class="headglyph glyphicon glyphicon-eye-open"></span>
       <% end %>
       </span>
       
       <span class="minf">
       <a href="/new/hall", data-no-turbolink="true"><i class="glyphicon glyphicon-cloud-upload"></i></a>
       </span>
       
       <span class="minf">
       <a href="/halls"><i class="glyphicon glyphicon-globe"></i></a>
       </span>
       
       <span class="minf">
       <a href="/activities"><i class="glyphicon glyphicon-pushpin"></i></a>
       </span>
       	
</div>







