<div class="min">
  <p class="min1">
   		
       <span class="min1a">
        <a href="/home"><i class="glyphicon glyphicon-home"></i></a>
       </span>
       
       <span class="min1a">
       	<a href="/activities"><i class="glyphicon glyphicon-heart-empty"></i></a>
       </span> 

         
       <span class="min1a">
       	<a href="/microposts"><i class="glyphicon glyphicon-search"></i></a>
       </span>      
      
  </p>  	
</div>







