<div class="minfooter">
   	<p class="ddffs">
       <span class="minf">
       <a href="/home"><i class="glyphicon glyphicon-home"></i></a>
       </span>

       <span class="minf">
       <%= link_to current_user do %>
       <span class="glyphicon glyphicon-user"></span>
       <% end %>
       </span>
       
       <span class="minf">
       <a href="/new/hall", data-no-turbolink="true"><i class="glyphicon glyphicon-cloud-upload"></i></a>
       </span>
       
       <span class="minf">
       <a href="/halls"><i class="glyphicon glyphicon-globe"></i></a>
       </span>
       
       <span class="minf">
       <a href="/activities"><i class="glyphicon glyphicon-pushpin"></i></a>
       </span> 
     </p>  	
</div>







