<div class="min-wrapper">
  <div class="min-container-flex">
   		
       <div class="mindiv">
        <p class="mindivhome"><a href="/home"><i class="glyphicon glyphicon-tent"></i></a></p>
       </div>
       
       <div class="mindiv">
       	<p class="mindivcam"><a href="/halls" data-turbolinks="false"><i class="fa fa-search"></i></a></p>
       </div> 
         
       <div class="mindiv">
       	<p class="mindivact"><a href="/activities"><i class="fa fa-heart-o" ></i></a></p>
       </div>      

  </div>  	
</div>







