<!DOCTYPE html>
<html>
<head>
    <title>Hallit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <%= favicon_link_tag 'favicon-2.ico' %>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <%= stylesheet_link_tag "ht", media: "all", "data-turbolinks-track" => true %>                                                      
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>      
    
</head>

<body id="walld">

<br /> <br />

<p class="font-fam htstep">Step 1</p>

<p class="stephoto"><span class="glyphicon glyphicon-cloud-upload"></span></p>

<p class="font-fam htsteps">Tap the cloud upload</p>

<br /> <br /><br /> <br /><br /> <br />

<p class="font-fam htstep">Step 2</p>

<p class="stephotoi"><img src="assets/images/step2.png" class=""></span></p>

<p class="font-fam htsteps">Click on New Hall to select image then T to write text</p>

<br /> <br /><br /> <br /><br /> <br />

<p class="font-fam htstep">Step 3</p>

<p class="stephotoi"><img src="assets/images/step3.png" class=""></span></p>

<p class="font-fam htsteps">Align to center with Enter and Spacebar. Ensure to leave space below the text. Tap check when you're done </p>


 <br /> <br /><br /> <br /><br /> <br />

<p class="font-fam htstep">Step 4 </p>

<p class="stephotoi"><img src="assets/images/step4.png" class=""></span></p>

<p class="font-fam htsteps">Click Export to download image to phone/For Safari users, save image manually after clicking export then tap browser back button</p>


<br /> <br /><br /> <br /><br /> <br />

<p class="font-fam htstep">Step 5</p>

<p class="stephotoi"><img src="assets/images/step5.png" class=""></span></p>

<p class="font-fam htsteps">Find and tap <span class="glyphicon glyphicon-camera"></span> to upload hall, tell us more or write Author if quoting someone. All done! </p>




</body>
</html>  
